<template>
	<div class="c-ProgressPie" data-progress="container">
		<text id="textm27" data-progress="text" class="c-ProgressPie__text" stroke="none">{text}</text>

		<svg id="m27" class="c-ProgressPie__progress" width="120" height="120" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg">
			<circle cx="60" cy="60" r="54" fill="#fff" stroke="none"></circle>
			<circle cx="60" cy="60" r="54" fill="none" stroke="#ccc" stroke-width="12"></circle>
			<circle data-progress="value" class={currentSlide} cx="60" cy="60" r="54" fill="none" stroke="#2081bf" stroke-linecap="round" stroke-width="12"></circle>
			<template if:true={isShowArrow}>
				<path
					class="c-ProgressPie__icon"
					data-progress="icon"
					transform="translate(182, 0.000000) rotate(90)"
					fill="#2081bf"
					d="M71.38725,150.625 L59.79325,162.203 C59.40225,162.594 58.77725,162.594 58.38725,162.203 L46.79325,150.625 C46.40225,150.234 46.40225,149.594 46.79325,149.203 L49.38725,146.625 C49.77825,146.234 50.40325,146.234 50.79325,146.625 L59.09025,154.922 L67.38725,146.625 C67.77825,146.234 68.40325,146.234 68.79325,146.625 L71.38725,149.203 C71.77825,149.594 71.77825,150.234 71.38725,150.625 L71.38725,150.625 Z"
				></path>
			</template>
		</svg>
	</div>
</template>