<template>
	<div class="banner">
		<h1>Providing Affordable Mortgages and Award-Winning Client Service for More than 30 Years</h1>
	</div>
	<c-circle-bar></c-circle-bar>
	<div class="slideContainer">
		<template if:true={isShowSVGSlide}>
			<c-community-site-svg-slide assets={data} onselected={selectOption}></c-community-site-svg-slide>
		</template>
		<template if:true={isShowOptionsSlide}>
			<c-community-site-options-slide assets={data} onselected={selectOption}></c-community-site-options-slide>
		</template>
		<template if:true={IsShowFieldsSlide}>
			<c-community-site-fields-slide assets={data} ontype={typeOnField}></c-community-site-fields-slide>
		</template>
		<template if:true={IsShowAgreementSlide}>
			<c-community-site-agreement-slide assets={data} ontype={typeOnField} onclickcheckbox={agreeTerms}></c-community-site-agreement-slide>
		</template>

		<template if:true={isShowConfirmButton}>
			<button class={confirmButtonStyle} onclick={change} data-change="increase" data-disabled={disabled}>Next</button>
		</template>
		<template if:true={IsShowAgreementSlide}>
			<button class={confirmButtonStyle} onclick={change} data-change="increase" data-disabled={disabled}>Continue</button>
		</template>
		<template if:true={isShowButtonBack}>
			<button class="buttonBack" onclick={change} data-change="decrease">Go Back</button>
		</template>

		<template if:true={isShowSpinner}>
			<lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
		</template>
	</div>
</template>