<template>      
    <div class="jobBonusContainer">         
		<div class="yearContainer">
			<p>Year</p>
			<select onchange={selectYear}>
				<option value="">Please select:</option>
				<template iterator:it={years}>
					<template if:true={it.value.isSelected}>
						<option value={it.value.value} key={it.value.name} selected="selected">{it.value.name}</option>
					</template>
					<template if:false={it.value.isSelected}>
						<option value={it.value.value} key={it.value.name}>{it.value.name}</option>
					</template>
				</template>
			</select>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				<g data-name="Layer 2">
					<g data-name="chevron-down">
						<rect width="24" height="24" opacity="0"></rect>
						<path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
					</g>
				</g>
			</svg>
		</div>

		<div class="annualAmountContainer">
			<p>Annual Amount</p>
			<input 
				class="currencyField" 
				type="text"  
				oninput={setCurrencyField} 
				value={amount} />
			<span>$</span>
		</div>
	</div>
</template>