<template>
	<div class="question">
		<div class="borderMark"></div>
		<h1>Credit</h1>
		<p>
			A credit check is part of seeing if you qualify to refinance. Without it, you won't get custom interest rates and other numbers you need to make confident
			decisions about refinancing.
		</p>

		<div class="hiddenText">
			<a href="#" onclick={toggleMenu}>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
					<g data-name="Layer 2">
						<g data-name="chevron-down">
							<rect width="24" height="24" opacity="0"></rect>
							<path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
						</g>
					</g>
				</svg>

				Do you have a freeze on your credit report?
			</a>

			<div>
				<p>
					If you have a security freeze on your credit report, you'll need to lift or unfreeze it before we can check your credit. Be sure to ask for a global lift.
				</p>
				<p>Although you can usually lift a freeze within a short time by phone or online, credit report agencies legally have up to three business days.</p>
				<p>Here's contact info that'll make it easier for you to request a global lift. We'll save all your info for you until then.</p>
				<a href="#">Equifax</a>
				<p>1-800-685-1111 (NY residents: 1-800-349-9960)</p>
				<a href="#">TransUnion</a>
				<p>1-888-909-8872</p>
				<a href="#">Experian</a>
				<p>1-888-397-3742</p>
			</div>
		</div>

		<div class="formContainer">
			<div class="questionItem">
				<label
					>Please enter your birthdate.
					<div class="date">
						<input type="text" placeholder="MM" maxlength="2" data-part="month" oninput={typeDate} onfocus={toggleBorder} onblur={toggleBorder} inputmode="numeric" />
						<span>/</span>
						<input
							type="text"
							placeholder="DD"
							maxlength="2"
							data-part="day"
							oninput={typeDate}
							onfocus={toggleBorder}
							onblur={toggleBorder}
							inputmode="numeric"
						/><span>/</span>
						<input
							type="text"
							placeholder="YYYY"
							maxlength="4"
							data-part="year"
							oninput={typeDate}
							onfocus={toggleBorder}
							onblur={toggleBorder}
							inputmode="numeric"
						/>
					</div>
				</label>

				<label
					>Please enter your social security number.
					<input type="text" placeholder="###-##-###" maxlength="11" data-name="ssn" oninput={typeSocial} inputmode="numeric" />
				</label>

				<div class="hiddenText">
					<a href="#" onclick={toggleMenu}>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
							<g data-name="Layer 2">
								<g data-name="chevron-down">
									<rect width="24" height="24" opacity="0"></rect>
									<path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
								</g>
							</g>
						</svg>

						How little will this affect my credit score?
					</a>

					<div>
						<p>
							For most people, the answer is very little or not at all. The longer your history, the fewer inquiries you have on your credit report, the less your
							score will be affected.
						</p>
						<p>
							Here's what <a href="https://www.myfico.com" target="_blank">FICO<sup>TM</sup></a
							>, the most widely used credit score, has to say: "…Most (credit scores) are not affected by multiple inquiries from auto, mortgage or student loan
							lenders within a short period of time. Typically, these are treated as a single inquiry and will have little impact on your credit scores."
						</p>
					</div>
				</div>

				<label
					>Please enter your phone number.
					<div class="phone">
						(<input
							type="text"
							placeholder="###"
							maxlength="3"
							data-part="one"
							oninput={typePhoneNumber}
							onfocus={toggleBorder}
							onblur={toggleBorder}
							inputmode="numeric"
						/>)
						<input
							type="text"
							placeholder="###"
							maxlength="3"
							data-part="two"
							oninput={typePhoneNumber}
							onfocus={toggleBorder}
							onblur={toggleBorder}
							inputmode="numeric"
						/>-
						<input
							type="text"
							placeholder="####"
							maxlength="4"
							data-part="three"
							oninput={typePhoneNumber}
							onfocus={toggleBorder}
							onblur={toggleBorder}
							inputmode="numeric"
						/>
					</div>
				</label>
			</div>
		</div>

		<div class="info">
			<p>
				By clicking the button below, you are authorizing Ready2Fund to access your credit report for the purpose of a mortgage inquiry and you acknowledge,
				consent, and agree to our terms at the bottom of this page.
			</p>
		</div>

		<button class="confirmButton" onclick={saveCreditInfo}>Save & Continue</button>
	</div>
</template>