<template>
	<div class="footer">
		<div class="footerContainer">
			<div class="footerMenu">
				<div class="footerMenuItem">
					<h3>Our Sister Companies</h3>
					<a href="#" onclick={openMenu}>Our Sister Companies</a>
					<ul>
						<a href="https://ready2found-developer-edition.na156.force.com/Ready2Found/s/" aria-label="Ready2Fund">
							<img class="logo" src={logoURL} width="125" height="32" />
						</a>
						<li>Buy a home, refinance or manage your mortgage online with America’s largest mortgage lender.</li>
					</ul>
				</div>
				<div class="footerMenuItem">
					<h3>Ready2Fund Mortgage</h3>
					<a href="#" onclick={openMenu}>Ready2Fund Mortgage</a>
					<ul>
						<li><a href="#">Your Loans</a></li>
						<li><a href="#">Legal Info</a></li>
						<li><a href="#">FAQs</a></li>
						<li><a href="#">Refer A Friend</a></li>
					</ul>
				</div>
				<div class="footerMenuItem">
					<h3>About Us</h3>
					<a href="#" onclick={openMenu}>About Us</a>
					<ul>
						<li><a href="#">Ready2Fund</a></li>
						<li><a href="#">Franchises</a></li>
						<li><a href="#">Disclosures And Licenses</a></li>
						<li><a href="#">Terms Of Use</a></li>
						<li><a href="#">Email And Mobile Policy</a></li>
						<li><a href="#">Security And Privacy</a></li>
					</ul>
				</div>
				<div class="footerMenuItem">
					<h3>Support</h3>
					<a href="#" onclick={openMenu}>Support</a>
					<ul>
						<li><a href="#">Talk to Us</a></li>
						<li><a href="#">Opt Out</a></li>
						<li><a href="#">Give Us Your Feedback</a></li>
						<li><a href="#">Site Accessibility</a></li>
					</ul>
				</div>
			</div>
			<div class="footerInfo">
				<p>Ready2Fund Mortgage, 123 Main Street, Lehi, UT 88888.</p>
				<p>
					Participation in the Verified Approval program is based on an underwriter’s comprehensive analysis of your credit, income, employment status, debt,
					property, insurance, appraisal and a satisfactory title report/search. If new information materially changes the underwriting decision resulting in a
					denial of your credit request, if the loan fails to close for a reason outside of Ready2Fund’ control, or if you no longer want to proceed with the loan,
					your participation in the program will be discontinued. If your eligibility in the program does not change and your mortgage loan does not close, you will
					receive $1,000. This offer does not apply to new purchase loans submitted to Ready2Fund through a mortgage broker. Additional conditions or exclusions may
					apply.
				</p>
				<p>
					NMLS #XXXX Go here for the Ready2Fund
					<a class="sprk-b-Link" href="http://www.nmlsconsumeraccess.org/EntityDetails.aspx/COMPANY"> NMLS consumer access page. </a>
				</p>
				<p>&copy; 2021 Ready2Fund, LLC. All rights reserved.</p>
			</div>
		</div>
	</div>
</template>