<template>
	<div class="header wideScreen">
		<div class="headerItem">
			<a href="https://ready2found-developer-edition.na156.force.com/Ready2Found/s/" aria-label="Ready2Fund">
				<img class="logo" src={logoURL} width="230" height="64" />
			</a>
		</div>
		<div class="headerItem middle">
			<div class="select" onclick={selectClick} onblur={blurSeect} onkeydown={pressKey} tabindex="0" data-cklick="isShowSelectItems">
				<div>Test text very very long text - bla bla bla bla bla bla bla bla bla bla bla bla</div>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
					<g data-name="Layer 2">
						<g data-name="chevron-down">
							<rect width="24" height="24" opacity="0"></rect>
							<path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
						</g>
					</g>
				</svg>
				<template if:true={isShowSelectItems}>
					<ul class="selectItem">
						<li class="listHeader">My Loans</li>
						<li class="current">Current Loan</li>
						<li class="listFooter"></li>
					</ul>
				</template>
			</div>
		</div>
		<div class="headerItem">
			<ul class="list">
				<li>
					<a aria-label="telephone link" href="tel:1-888-452-8179">
						<img class="phoneIcon" height="32" width="32" src={phoneURL} />
						<span class="phoneNumber"> (888) 452-8179 </span>
					</a>
				</li>
				<li>
					<a href="#">Talk to Us</a>
				</li>
				<li>
					<!-- <svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 32 32"
						style="enable-background: new 0 0 32 32"
						xml:space="preserve"
						tabindex="0"
						data-cklick="isShowAccountMenu"
						onclick={selectClick}
						onblur={blurSeect}
						onkeydown={pressKey}
					>
						<circle class="st0" cx="16" cy="16" r="14" />
						<circle class="st0" cx="16" cy="13" r="5" />
						<path class="st0" d="M5.4,25.1c1.8-4.1,5.8-7,10.6-7c4.8,0,8.9,2.9,10.6,7"></path>
					</svg> -->
					<img height="32" width="32" src={accountURL} tabindex="0" data-cklick="isShowAccountMenu" onclick={selectClick} onblur={blurSeect} onkeydown={pressKey} />
					<template if:true={isShowAccountMenu}>
						<ul class="accountMenu">
							<li>Change Username</li>
							<li>Change Password</li>
							<li class="lastItem">Sing Out</li>
						</ul>
					</template>
				</li>
				<li>
					<button class="signOut" onclick={signOut}>Sign Out</button>
				</li>
			</ul>
		</div>
	</div>

	<div class="header narrowScreen">
		<svg class="menuIcon" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" tabindex="0" onclick={toggleMenu} onkeydown={pressKey}>
			<g>
				<path class="line two" d="m8 32h48"></path>
				<path class="line one" d="m8 18.68h48"></path>
				<path class="line three" d="m8 45.32h48"></path>
			</g>
		</svg>
		<div class="headerItem">
			<a href="https://ready2found-developer-edition.na156.force.com/Ready2Found/s/" aria-label="Ready2Fund">
				<img class="logo" src={logoURL} width="230" height="64" />
			</a>
		</div>
		<div class="c-BarBottom"></div>
		<template if:true={isShowMobileMenu}>
			<div class="mobileMenuContainer">
				<div class="select" onclick={selectClick} onblur={blurSeect} onkeydown={pressKey} tabindex="0" data-cklick="isShowSelectItems">
					<div>Test text very very long text - bla bla bla bla bla bla bla bla bla bla bla bla</div>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<g data-name="Layer 2">
							<g data-name="chevron-down">
								<rect width="24" height="24" opacity="0"></rect>
								<path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
							</g>
						</g>
					</svg>
					<template if:true={isShowSelectItems}>
						<ul class="selectItem">
							<li class="listHeader">My Loans</li>
							<li class="current">Current Loan</li>
							<li class="listFooter"></li>
						</ul>
					</template>
				</div>
				<ul class="mobileMenu">
					<li>
						<a aria-label="telephone link" href="tel:1-888-452-8179">
							<img height="30" width="30" src={phoneURL} />
							<span> (888) 452-8179 </span>
						</a>
					</li>
					<li>
						<a href="#">
							<img height="30" width="30" src={talkUsURL} />
							<span>Talk to Us</span>
						</a>
					</li>
					<li>
						<a href="#" data-cklick="isShowAccountMenu" onclick={selectClick} onblur={blurSeect} onkeydown={pressKey}>
							<!-- <svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 32 32"
								style="enable-background: new 0 0 32 32"
								xml:space="preserve"
							>
								<circle class="st0" cx="16" cy="16" r="14" />
								<circle class="st0" cx="16" cy="13" r="5" />
								<path class="st0" d="M5.4,25.1c1.8-4.1,5.8-7,10.6-7c4.8,0,8.9,2.9,10.6,7"></path>
							</svg> -->
							<img height="30" width="30" src={accountURL} />
							<span>My Account</span>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="close">
								<g data-name="Layer 2">
									<g data-name="chevron-down">
										<rect width="24" height="24" opacity="0"></rect>
										<path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
									</g>
								</g>
							</svg>
						</a>
					</li>
				</ul>
				<template if:true={isShowAccountMenu}>
					<ul class="innerMenu">
						<li>Change Username</li>
						<li>Change Password</li>
						<li>Sing Out</li>
					</ul>
				</template>
			</div>
		</template>
	</div>
</template>