<template>
    <div class="question">
        <div class="borderMark"></div>
            <h1>Income</h1>
            <div class="captionWithIMG">
                <p>Tell us about income you get from an employer, self-employment, retirement, or Social Security.</p>
                <svg viewBox="0 0 140 140">
                    <g>
                        <path d="M107.6 88.2c19.7-18.5-18.2-53.1-18.2-53.1l-15.6.2S43.4 64.1 52.4 83.1"></path>
                        <path d="M73.2 35.7l-4.2-17 14.2 2.2 11.3-5.8-4.2 21.4M88.6 54.4s-2.3-3.2-6.7-3.2-6.4 2.8-6.3 5.4c.1 7.4 13.3 4 13.3 12.3 0 3.7-3.4 6-6.6 6-3.3 0-5.9-1.4-8-3.9M81.9 51.3v-4.6M82.2 80l-.1-5M54.5 101.4h34.3c3.8 0 6.9-3.1 6.9-6.9s-3.1-6.9-6.9-6.9H68.2l-30.9-9.1-32.1 9.2v32.9L26 115l40.7 9.4c4.4 1.1 9.1.4 13-1.9l54.2-32c-3.1-6.2-10.4-8.9-16.8-6.2l-21.6 9"></path>
                    </g>
                </svg>
            </div>

            <h2>Manually Enter Employment</h2> 
            <p>We recommend that you enter at least two years of employment history because it helps you get approved to refinance.</p> 

            <h3 class="currentJobAnchor">Current Employment</h3>
                <template for:each={currentJobs} for:item="item" for:index="index">
                    <c-community-application-current-job 
                        key={item.key} 
                        index={index} 
                        oncurrentjob={updateJobObject} 
                        job-info={item} 
                        oncancelcurrentjob={cancelCurrentJob}
                        oneditcurrentjob={switchToEdit}>
                    </c-community-application-current-job>
                </template>
            <div class="addButton" onclick={addItem} data-name='currentJob'>
                <svg 
                    viewBox="0 0 512 512"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path d="m256 512c-141.164062 0-256-114.835938-256-256s114.835938-256 256-256 256 114.835938 256 256-114.835938 256-256 256zm0-480c-123.519531 0-224 100.480469-224 224s100.480469 224 224 224 224-100.480469 224-224-100.480469-224-224-224zm0 0"></path>
                    <path d="m368 272h-224c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h224c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"></path>
                    <path d="m256 384c-8.832031 0-16-7.167969-16-16v-224c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v224c0 8.832031-7.167969 16-16 16zm0 0"></path>
                </svg> Add a Job
            </div>

            <h3 class="previousJobAnchor">Previous Employment</h3>
            <template for:each={previousJobs} for:item="item" for:index="index">
                <c-community-application-previous-job 
                    key={item.key} 
                    index={index} 
                    onpreviousjob={updatePreviousJobObject} 
                    job-info={item} 
                    oncancelpreviousjob={cancelPreviousJob}
                    oneditpreviousjob={switchToEdit}>
                </c-community-application-previous-job>
            </template>
            <div class="addButton" onclick={addItem} data-name='previousJob'>
                <svg 
                    viewBox="0 0 512 512"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path d="m256 512c-141.164062 0-256-114.835938-256-256s114.835938-256 256-256 256 114.835938 256 256-114.835938 256-256 256zm0-480c-123.519531 0-224 100.480469-224 224s100.480469 224 224 224 224-100.480469 224-224-100.480469-224-224-224zm0 0"></path>
                    <path d="m368 272h-224c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h224c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"></path>
                    <path d="m256 384c-8.832031 0-16-7.167969-16-16v-224c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v224c0 8.832031-7.167969 16-16 16zm0 0"></path>
                </svg> Add a Job
            </div>

            <h2 class="socialIncomeAnchor">Enter Self-Employment, Retirement And Social Security/Disability Income</h2> 
            <template for:each={socialIncomes} for:item="item" for:index="index">
                <c-community-application-social-income 
                    key={item.key} 
                    index={index} 
                    onsocialincome={updateSocialIncomeObject} 
                    social-info={item} 
                    oncancelsocialincome={cancelSocialIncomeObject}
                    oneditsocialincome={switchToEdit}>
                </c-community-application-social-income>
            </template>

            <div class="addButton" onclick={addItem} data-name='moreIncome'>                
                <svg 
                    viewBox="0 0 512 512"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path d="m256 512c-141.164062 0-256-114.835938-256-256s114.835938-256 256-256 256 114.835938 256 256-114.835938 256-256 256zm0-480c-123.519531 0-224 100.480469-224 224s100.480469 224 224 224 224-100.480469 224-224-100.480469-224-224-224zm0 0"></path>
                    <path d="m368 272h-224c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h224c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"></path>
                    <path d="m256 384c-8.832031 0-16-7.167969-16-16v-224c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v224c0 8.832031-7.167969 16-16 16zm0 0"></path>
                </svg> Add More Income
            </div>
            
		<button class="confirmButton" onclick={saveIncomeInfo}>Save & Continue</button>
	</div>
</template>