<template>
	<div class="slide">
		<label class="slideHeader">{assets.header}</label>
		<div class="content">
			<template for:each={assets.options} for:item="opt" for:index="index">
				<template if:true={opt.selected}>
					<label class="option checked" key={opt.key} data-index={index}>
						<span class="circle"></span>
						{opt.caption}
					</label>
				</template>
				<template if:false={opt.selected}>
					<label class="option" key={opt.key} onclick={selectOption} data-index={index} onkeydown={pressKey} tabindex="0">
						<span class="circle"></span>
						{opt.caption}
					</label>
				</template>
			</template>
		</div>
	</div>
</template>