:root {
	--button-confirm-and-circle-bar: #008473; /* var(--main-color, #008473); */
	--item-color: #333; /* var(--item-color, #333); */
	--item-color-secondary: #fff; /* var(--item-color-secondary, #fff); */
	--error-message-color: #c8102f; /* var(--error-message-color, #c8102f); */
}

.slds-spinner_container {
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	position: fixed !important;
}

/* start styling the CommunityApplicationHeader component */

.applicationContainer .header {
	padding: 1em;
	max-width: 93.75em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-pack: justify;foreclosuresTypes
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.applicationContainer .headerItem {
	vertical-align: middle;
}

.applicationContainer .middle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.applicationContainer .headerItem a {
	text-decoration: none;
	color: var(--item-color, #333);
	font-weight: bold;
}

.applicationContainer .logo {
	width: 230px;
	height: 64px;
}

.applicationContainer .list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}

.applicationContainer .list li {
	margin-right: 25px;
	position: relative;
}

.applicationContainer .list li img {
	cursor: pointer;
}

.applicationContainer .list li svg {
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.applicationContainer .list li .st0 {
	fill: none;
	stroke: #000000;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

.applicationContainer .list li .st1 {
	fill: none;
	stroke: #000000;
	stroke-width: 2;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

.applicationContainer .list > li:last-child {
	margin-right: 0;
}

/* Start styling 'Sign Out' button */

.applicationContainer .signOut {
	width: 95px;
	height: 40px;
	line-height: normal;
	background-color: white;
	border-color: #d5d5d5;
	outline: none;
	border-style: solid;
	padding: 10px 10px;
}

.applicationContainer .signOut:hover,
.applicationContainer .signOut:focus {
	border-color: black;
	color: black;
	font-weight: 700;
}

.applicationContainer .signOut:active {
	background-color: lightgray;
}

/* End styling 'Sign Out' button */

.applicationContainer .accountMenu {
	position: absolute;
	list-style: none;
	background-color: #fff;
	border: 1px solid #f7f7f7;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 40px 2px rgb(0 0 0 / 10%);
	box-shadow: 0 0 40px 2px rgb(0 0 0 / 10%);
	font-size: 1rem;
	width: 11em;
	margin-top: 5px;
	z-index: 10;
	right: 0;
	padding: 6px 0;
}
.applicationContainer .list .accountMenu li {
	margin-right: 0;
	padding: 6px 12px;
	cursor: pointer;
}

.applicationContainer .list .accountMenu li:hover {
	background-color: #bebebe;
}

.applicationContainer .list .accountMenu .lastItem {
	display: block;
}

.applicationContainer .c-BarBottom {
	border-bottom: 1px solid #aaa;
	position: absolute;
	width: 100%;
	top: 96px;
}

.applicationContainer .narrowScreen {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
}

.applicationContainer .narrowScreen .menuIcon {
	height: 32px;
	width: 32px;
	stroke-width: 2px;
	stroke: #333;
	fill: none;
	cursor: pointer;
	position: absolute;
	top: 32px;
	left: 10px;
}

.applicationContainer .narrowScreen .menuIcon .line {
	opacity: 1;
	-webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.3s ease-in-out;
	transition: opacity 0.2s ease-in-out, -webkit-transform 0.3s ease-in-out;
	-o-transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
	transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
	transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.applicationContainer .narrowScreen .menuIcon .one {
	-webkit-transform-origin: 1rem 1.5rem;
	-ms-transform-origin: 1rem 1.5rem;
	transform-origin: 1rem 1.5rem;
}

.applicationContainer .narrowScreen .menuIcon .three {
	-webkit-transform-origin: 1rem 2.5rem;
	-ms-transform-origin: 1rem 2.5rem;
	transform-origin: 1rem 2.5rem;
}

.applicationContainer .narrowScreen .open .one {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.applicationContainer .narrowScreen .open .two {
	opacity: 1;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: scale(0.01);
	-ms-transform: scale(0.01);
	transform: scale(0.01);
}

.applicationContainer .narrowScreen .open .three {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.applicationContainer .narrowScreen .mobileMenuContainer {
	width: 100%;
	position: absolute;
	top: 110px;
	background-color: #fff;
	z-index: 20;
}

.applicationContainer .headerItem .select,
.applicationContainer .narrowScreen .mobileMenuContainer .select {
	width: 20em;
	height: 45px;
	border: 2px solid #bebebe;
	border-radius: 5px;
	padding: 8px 35px 8px 16px;
	position: relative;
	cursor: pointer;
	margin: 0 auto;
	background-color: #fff;
}

.applicationContainer .headerItem .select div,
.applicationContainer .narrowScreen .mobileMenuContainer .select div {
	max-width: 28em;
	white-space: nowrap;
	overflow: hidden;
}

.applicationContainer .headerItem .select svg,
.applicationContainer .narrowScreen .mobileMenuContainer .select svg {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 5px;
	right: 2px;
	fill: #bebebe;
}

.applicationContainer .headerItem .select .selectItem,
.applicationContainer .narrowScreen .mobileMenuContainer .selectItem {
	list-style: none;
	position: absolute;
	z-index: 50;
	width: inherit;
	border: 1px solid #f7f7f7;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 40px 2px rgb(0 0 0 / 10%);
	box-shadow: 0 0 40px 2px rgb(0 0 0 / 10%);
	top: 50px;
	left: 0;
	background-color: #fff;
}
.applicationContainer .headerItem .selectItem li,
.applicationContainer .narrowScreen .selectItem li {
	padding: 12px 24px;
}
.applicationContainer .headerItem .selectItem .listHeader,
.applicationContainer .narrowScreen .selectItem .listHeader {
	color: #bebebe;
}
.applicationContainer .headerItem .selectItem .listFooter,
.applicationContainer .narrowScreen .selectItem .listFooter {
	padding: 12px 24px;
	height: 48px;
}

.applicationContainer .headerItem .selectItem .current,
.applicationContainer .narrowScreen .selectItem .current {
	border-left: 4px solid #13a48e;
	background-color: #f7f7f7;
}

.applicationContainer .narrowScreen .mobileMenuContainer .mobileMenu {
	list-style: none;
	padding: 20px 0;
	z-index: 20;
	background-color: #fff;
}
.applicationContainer .narrowScreen .mobileMenuContainer .mobileMenu li {
	position: relative;
	z-index: 25;
	background-color: #fff;
}

.applicationContainer .narrowScreen .mobileMenuContainer .mobileMenu a {
	display: block;
	text-decoration: none;
	color: #333;
	padding: 20px 20px 20px 60px;
	cursor: pointer;
	position: relative;
}

.applicationContainer .narrowScreen .mobileMenuContainer .mobileMenu a:hover {
	background-color: #eeeded;
}

.applicationContainer .narrowScreen .mobileMenuContainer .mobileMenu img {
	position: absolute;
	top: 16px;
	left: 15px;
}

.applicationContainer .narrowScreen .mobileMenu .close {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 17px;
	right: 15px;
	fill: #bebebe;
	-webkit-transition: 0.3s linear;
	-o-transition: 0.3s linear;
	transition: 0.3s linear;
}

.applicationContainer .narrowScreen .mobileMenu .open {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.applicationContainer .narrowScreen .mobileMenuContainer .innerMenu {
	list-style: none;
	-webkit-animation: dropDown 0.3s linear;
	animation: dropDown 0.3s linear;
	position: absolute;
	z-index: 15;
	width: 100%;
	background-color: #fff;
	padding-bottom: 10px;
}

.applicationContainer .narrowScreen .mobileMenuContainer .innerMenu li {
	cursor: pointer;
	padding: 10px 15px;
}

.applicationContainer .narrowScreen .mobileMenuContainer .innerMenu li:hover {
	background-color: #eeeded;
}

@-webkit-keyframes dropDown {
	from {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes dropDown {
	from {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@media screen and (min-width: 1075px) {
	.applicationContainer .phoneIcon {
		display: none;
	}
}

@media screen and (max-width: 1074px) {
	.applicationContainer .phoneNumber {
		display: none;
	}
}

@media screen and (max-width: 950px) {
	.applicationContainer .list li {
		margin-right: 10px;
	}
	.applicationContainer .signOut {
		display: none;
	}
}

@media screen and (min-width: 950px) {
	.applicationContainer .list .accountMenu .lastItem {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	.applicationContainer .wideScreen {
		display: none;
	}
	.applicationContainer .narrowScreen {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

@media screen and (min-width: 800px) {
	.applicationContainer .wideScreen {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.applicationContainer .narrowScreen {
		display: none;
	}
}

/* end styling the CommunityApplicationHeader component */

/* start styling the CommunityApplicationContent component */
.applicationContainer .applicationContent {
	/*padding: 1em;*/
	/*max-width: 93.75em;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	/*position: relative;*/
	width: 100%;
	margin-bottom: 40px;
}
/* end styling the CommunityApplicationHeader component */

/* start styling the CommunityApplicationQuestionnaire component */

.applicationContainer .questionnaireContainer {
	max-width: 60em;
	margin: 0 auto;
	padding: 0 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.applicationContainer .questions {
	width: 68%;
}

.applicationContainer .questions .question {
	margin-bottom: 20px;
}

@media screen and (max-width: 770px){
	.applicationContainer .questionnaireContainer {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}
/* end styling the CommunityApplicationQuestionnaire component */

/* start styling "Confirm & Save" button in questions */
.applicationContainer .question .confirmButton {
	-webkit-appearance: none;
	background-color: #13a48e;
	border-color: #13a48e;
	border-radius: 4px;
	border-style: solid;
	border-width: 2px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 500;
	letter-spacing: .62px;
	margin: 0;
	overflow: visible;
	padding: 16px 24px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	vertical-align: middle;
	white-space: normal;
	width: auto;
}

.applicationContainer .question .confirmButton:hover {
	background-color: #12927f;
	border-color: #12927f;
}

@media screen and (max-width: 770px) {
	.applicationContainer .question .confirmButton {
		width: 100%;
	}
}
/* end styling "Confirm & Save" button in questions */

/* start styling CommunityApplicationRefinanceQuestion component */
.applicationContainer .question .borderMark {
	border-top: 6px solid #b50023;
	padding: 0;
	margin: 0;
	width: 32px;
	position: relative;
	top: -10px;
}

.applicationContainer .question h1 {
	font-size: 2.5rem;
	line-height: 1;
	font-weight: bold;
	padding: 0;
	margin: 0 0 12px 0;
}

.applicationContainer .question h1 ~ p {
	margin-bottom: 30px;
}

.applicationContainer .question .formContainer {
	-webkit-box-shadow: 0 3px 18px 1px rgb(0 0 0 / 8%);
	box-shadow: 0 3px 18px 1px rgb(0 0 0 / 8%);
	border-radius: 8px;
	padding: 20px 25px;
	margin-bottom: 20px;
}

.applicationContainer .question .formContainer h3 {
	padding: 0;
	margin: 0 0 30px 0;
	font-weight: bold;
	font-size: 1em;
}

.applicationContainer .question .formContainer .item {
	padding: 15px 25px 15px 60px;
	border: 2px solid #c4c4c4;
	border-radius: 4px;
	margin-top: 10px;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.applicationContainer .question .formContainer .item svg {
	width: 25px;
	height: 25px;
	display: block;
	border: 2px solid #c4c4c4;
	border-radius: 50%;
	position: absolute;
	left: 20px;
	top: 20px;
	fill: none;
}

.applicationContainer .question .formContainer .item p {
	font-size: 0.85rem;
}

.applicationContainer .question .formContainer .item.selected {
	background-color: #13a48e;
	color: #fff;
	border-color: #13a48e;
}

.applicationContainer .question .formContainer .item.selected svg {
	fill: #13a48e;
	border-color: #fff;
	background-color: #fff;
}

.applicationContainer .question .formContainer .item:hover {
	border-color: #333;
}

.applicationContainer .question .formContainer .item.selected:hover {
	background-color: #12927f;
}
/* end styling CommunityApplicationRefinanceQuestion component */

/* start styling CommunityApplicationCurrentMortgage component */
.applicationContainer .questionItem label {
	display: block;
	font-size: .875rem;
	font-weight: 400;
	line-height: 1;
	padding: 0;
	position: relative;
	margin-bottom: 25px;
}

.applicationContainer .questionItem label input {
	display: block;
	margin-top: 10px;
	width: 100%;
	padding: 0 0 0 37px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 2px solid #cfcfcf;
	border-radius: 4px;
	color: #333;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.3;
	height: 48px;
	outline: 0;
	-webkit-transition: border-color 0.3s ease;
	-o-transition: border-color 0.3s ease;
	transition: border-color 0.3s ease;
}

.applicationContainer .questionItem label input:focus {
	border-color: #13a48e;
}

/*.applicationContainer .questionItem label span {*/
/*	display: block;*/
/*	font-size: 1rem;*/
/*	font-weight: 700;*/
/*	line-height: 1;*/
/*	position: absolute;*/
/*	top: 40px;*/
/*	left: 15px;*/
/*}*/

.applicationContainer .questionItem label span {
	display: block;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1;
	position: relative;
	top: -32px;
	left: 15px;
}

.applicationContainer .questionItem label span svg {
	fill: none;
}

.applicationContainer .questionItem label .choice {
	display: inline-block;
	width: 122px;
	height: 55px;
	position: relative;
	border: 2px solid #c4c4c4;
	border-radius: 4px;
	padding: 10px 10px 10px 65px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.9;
	vertical-align: middle;
	margin-top: 10px;
	cursor: pointer;
	color: #333;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.applicationContainer .questionItem label .choice:hover {
	border-color: #333;
}

.applicationContainer .questionItem .choice span {
	display: block;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border: 2px solid #c4c4c4;
	position: absolute;
	top: 10px;
	left: 20px;
}

.applicationContainer .questionItem label .choice.selected {
	background-color: #13a48e;
	border-color: #13a48e;
	color: #fff;
}

.applicationContainer .questionItem label .choice.selected:hover {
	background-color: #12927f;
	border-color: #12927f;
}

.applicationContainer .questionItem label .choice.selected span {
	border-color: #13a48e;
	background-color: #fff;
}

.applicationContainer .questionItem label .choice.selected svg {
	fill: #13a48e;
}

.applicationContainer .questionItem label .choice:first-child {
	margin-right: 20px;
}
/* end styling CommunityApplicationCurrentMortgage component */

/* start styling CommunityApplicationHomeInfoOne component */

.applicationContainer .questionItem label select {
	display: block;
	width: 100%;
	margin-top: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 2px solid #cfcfcf;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
	color: #333;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.3;
	outline: 0;
	padding: 12px 45px 12px 13px;
	cursor: pointer;
}

.applicationContainer .questionItem label select + svg {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 28px;
	right: 10px;
	fill: #cfcfcf;
}

.applicationContainer .formContainer + p {
	font-size: 0.8rem;
}

.applicationContainer .question .questionItem .textImput {
	padding-left: 15px;
}

.applicationContainer .question .questionItem .prompt {
	border: 1px solid black;
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 5px 0 5px 15px;
	position: absolute;
	width: 100%;
	background-color: #fff;
	z-index: 10;
	font-size: 0.9rem;
}

.applicationContainer .question .info {
	margin-bottom: 20px;
}
.applicationContainer .question .info p {
	white-space: pre-wrap;
}

.applicationContainer .question .info p a {
	color: #333;
	text-decoration: underline;
	-webkit-text-decoration-color: #cfcfcf;
	text-decoration-color: #cfcfcf;
	font-weight: bold;
}

.applicationContainer .question .info p a:hover {
	-webkit-text-decoration-color: #333;
	text-decoration-color: #333;
}
.applicationContainer .questionItem .phone {
	font-size: 1rem;
	line-height: 1.3;
	height: 48px;
	border: 2px solid #cfcfcf;
	border-radius: 4px;
	width: 180px;
	padding: 2px 10px 0 17px;
	margin-top: 10px;
}

.applicationContainer .questionItem .phone.active {
	border-color: #13a48e;
}

.applicationContainer .questionItem .phone input {
	border: none;
	padding: 0;
	margin: 0;
	display: inline;
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 1rem;
	line-height: 1.3;
}

/* end styling CommunityApplicationHomeInfoOne component */

/* start styling CommunityApplicationHomeInfoTwo component */

.applicationContainer .formContainer label p {
	color: #333;
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 1.2;
	margin-top: 10px;
}

.applicationContainer .formContainer .startLivingDate {
	white-space: pre-wrap;
	font-size: 1.5rem;
}

.applicationContainer .question .formContainer .startLivingDate input {
	width: 100px;
	text-align: center;
	display: inline;
	padding: 0;
}

/* end styling CommunityApplicationHomeInfoTwo component */

/* start styling CommunityApplicationIncomeQuestion component */

/* end styling CommunityApplicationIncomeQuestion component */
.applicationContainer .question .captionWithIMG {
	padding-right: 130px;
	position: relative;
	min-height: 120px;
	margin-bottom: 30px;
}

.applicationContainer .question .captionWithIMG svg {
	fill: none;
	stroke: #333;
	stroke-width: 3;
	stroke-miterlimit: 10;
	width: 120px;
	height: 120px;
	position: absolute;
	top: 0;
	right: 10px;
}

.applicationContainer .question .borderMark ~ h2 {
	line-height: 1.23;
	color: #333;
	font-size: 1.625rem;
	font-weight: bold;
	margin-bottom: 16px;
}

.applicationContainer .question .borderMark ~ h3 {
	line-height: 1.2;
	color: #333;
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 32px;
}

.applicationContainer .question .addButton {
	color: #13a48e;
	cursor: pointer;
	line-height: 32px;
	vertical-align: middle;
	font-weight: bold;
	margin-bottom: 20px;
	position: relative;
	padding-left: 50px;
}

.applicationContainer .question .addButton svg {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: #333;
	position: absolute;
	left: 0;
}

.applicationContainer .question .addButton:hover {
	color: #333;
}

/* start styling the CommunityApplicationAside component */

.applicationContainer .progressBar {
	width: 32%;
	margin-left: 15px;
}

.applicationContainer .progressText {
	display: none;
	position: relative;
	margin-bottom: 20px;
}

.applicationContainer .progressText span {
	line-height: 30px;
}

.applicationContainer .progressText a {
	text-decoration: none;
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	right: 30px;
	border: 1px solid black;
	border-radius: 50%;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.applicationContainer .progressText a.open {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.applicationContainer .progressText svg {
	width: 29px;
	height: 29px;
}

.applicationContainer .stepsContainer {
	position: relative;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.applicationContainer .stepsContainer.open {
	height: 370px;
}

.applicationContainer .steps {
	list-style: none;
}

.applicationContainer .steps::before {
	background: #cfcfcf;
	content: '';
	display: block;
	height: 94%;
	left: -6px;
	margin: 0 auto;
	position: absolute;
	top: 16px;
	width: 2px
}

.applicationContainer .steps li {
	position: relative;
	margin: 0 0 2em 0;
	display: block;
}

.applicationContainer .steps .step_icon {
	margin: 3px 0 0 0;
	background: #fff;
	border: 2px solid #cfcfcf;
	border-radius: 50%;
	position: absolute;
	left: -13px;
	top: 0;
	height: 16px;
	padding: 0 0 0 3px;
	width: 16px
}

.applicationContainer .steps .step_text {
	padding: 0 8px;
	text-align: left;
	width: 90%;
	font-weight: 300
}

.applicationContainer .steps .future {
	font-weight: 400;
}

.applicationContainer .steps .current,
.applicationContainer .steps .complete {
	color: #333;
	cursor: pointer;
}

.applicationContainer .steps .current .step_text {
	font-weight: 700
}

.applicationContainer .steps .current .step_icon {
	background: #fff;
	border: 4px solid #01947e;
	color: #fff
}

.applicationContainer .steps .complete .step_icon {
	background: #fff;
	border: 4px solid gray;
	color: #fff
}

.applicationContainer .steps .complete .step_text {
	font-weight: 500;
}

@media screen and (max-width: 770px){

	.applicationContainer .progressText {
		display: block;
	}

	.applicationContainer .progressBar {
		width: 100%;
		margin-bottom: 15px;
	}

	.applicationContainer .steps li {
		font-size: 0.85em;
		margin: 0 0 1em 0;
	}

	.applicationContainer .steps .step_icon {
		margin: 1px 0 0;
	}

	.applicationContainer .steps::before {
		height: 72%;
		left: 9px;
	}

	.applicationContainer .stepsContainer {
		padding-left: 15px;
		height: 0;
		overflow: hidden;
	}

	.applicationContainer .questions {
		width: 100%;
		padding: 0 15px;
	}
}

/* end styling the CommunityApplicationAside component */

/* start styling the CommunityApplicationGovernmentQuestions component */

.applicationContainer .question .formContainer .questionItem h3 {
	line-height: 1.23;
	color: #333;
	font-size: 1.5rem;
	font-weight: bold;
}

.applicationContainer .formContainer .questionItem .foreclosuresTypes {
	list-style: none;
	padding: 0;
	margin: 0;
}

.applicationContainer .formContainer .questionItem .foreclosuresTypes li {
	display: block;
	position: relative;
}

.applicationContainer .formContainer .questionItem .foreclosuresTypes li label {
	padding: 8px 0 8px 30px;
	cursor: pointer;
	margin-bottom: 0;
}

.applicationContainer .formContainer .questionItem .foreclosuresTypes li input {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 7px;
	left: 0;
	margin: 0;
	cursor: pointer;
}

/* end styling the CommunityApplicationGovernmentQuestions component */

/* start styling the CommunityApplicationCreditQuestion component */
.applicationContainer .question .hiddenText {
	margin-bottom: 20px;

}

.applicationContainer .question .hiddenText div {
	height: 0;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.applicationContainer .question .hiddenText.open div {
	height: 390px;
}

.applicationContainer .question .questionItem .hiddenText.open div {
	height: 165px;
}

.applicationContainer .question .hiddenText > a {
	display: block;
}

.applicationContainer .question .hiddenText > a:first-child {
	text-decoration: none;
	color: #333;
	margin-bottom: 10px;
}

.applicationContainer .question .hiddenText svg {
	width: 32px;
	height: 32px;
	border: 1px solid #cfcfcf;;
	border-radius: 50%;
	margin-right: 15px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: rotateZ(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotateZ(-90deg);
}

.applicationContainer .question .hiddenText svg.open {
	-webkit-transform: rotateZ(0deg);
	-ms-transform: rotate(0deg);
	transform: rotateZ(0deg);
}

.applicationContainer .question .hiddenText p {
	margin-bottom: 20px;
}

.applicationContainer .question .questionItem .date {
	width: 180px;
	border: 2px solid #cfcfcf;
	padding-left: 12px;
	margin-top: 10px;
	border-radius: 4px;
	height: 48px;
	padding-top: 2px;
}

.applicationContainer .question .questionItem .date.active {
	border-color: #13a48e;
}

.applicationContainer .question .questionItem .date input {
	display: inline;
	border: none;
	outline:none;
	position: static;
	margin: 0;
	padding: 0 5px;
	width: 40px;
	height: 40px;
	text-align: center;
}

.applicationContainer .question .questionItem .date input:last-child {
	width: 60px;
}

.applicationContainer .question .questionItem .date span {
	position: static;
	display: inline;
	width: auto;
}

.applicationContainer .question .questionItem [data-name="ssn"] {
	padding-left: 15px;
	width: 180px;
}

@media screen and (max-width: 950px) {
	.applicationContainer .question .questionItem .hiddenText.open div {
		height: 230px;
	}
}

@media screen and (max-width: 770px) {
	.applicationContainer .question .questionItem .hiddenText.open div {
		height: 185px;
	}
}

@media screen and (max-width: 660px) {
	.applicationContainer .question .questionItem .hiddenText.open div {
		height: 220px;
	}
}

@media screen and (max-width: 600px) {
	.applicationContainer .question .hiddenText.open div {
		height: 440px;
	}

	.applicationContainer .question .questionItem .hiddenText.open div {
		height: 260px;
	}
}

@media screen and (max-width: 500px) {
	.applicationContainer .question .hiddenText.open div {
		height: 610px;
	}

	.applicationContainer .question .questionItem .hiddenText.open div {
		height: 475px;
	}
}

/* end styling the CommunityApplicationCreditQuestion component */

/* start styling the CommunityApplicationRefinanceSolution component  */
.applicationContainer .describeBlock > p a {
	text-decoration: underline;
	-webkit-text-decoration-color: #cfcfcf;
	text-decoration-color: #cfcfcf;
	color: #333;
	font-weight: bold;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.applicationContainer .describeBlock > p a:hover {
	-webkit-text-decoration-color: #333;
	text-decoration-color: #333;
}

.applicationContainer .questionItem .bigHeader {
	margin-top: 30px;
	margin-bottom: 30px;
}

.applicationContainer .recommendedInfo .info {
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: 0.75em;
}

.applicationContainer .recommendedInfo .info .space {
	width: 10%;
}

.applicationContainer .recommendedInfo .recommendedProgram {
	background-color: #13a48e;
	position: relative;
	padding: 18px 24px 18px 110px;
	color: #fff;
	border-radius: 4px;
}

.applicationContainer .recommendedInfo .recommendedProgram span {
	display: block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: 25px;
	left: 25px;
}

.applicationContainer .recommendedInfo .recommendedProgram span svg {
	fill: #13a48e;
}

.applicationContainer .recommendedInfo .recommendedProgram h3 {
	font-weight: bold;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 16px;
}

.applicationContainer .recommendedInfo .recommendedProgram p {
	line-height: 1;
	font-size: 2.5rem;
	font-weight: bold;
}

.applicationContainer .formContainer .financialInfo {
	list-style: none;
}

.applicationContainer .formContainer .financialInfo li {
	display: block;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-bottom: 2px solid #e6e6e6;
}

.applicationContainer .formContainer .financialInfo li:last-child {
	border: none;
}

.applicationContainer .formContainer .financialInfo .financeString,
.applicationContainer .bigHeader .dropDownInfo .financeString {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #333;
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 1.2;
	padding: 8px 0;
}

.applicationContainer .formContainer .financialInfo .financeString .green {
	color: #13a48e;
}

.applicationContainer .formContainer .financialInfo .financeString span {
	display: block;
	font-weight: 300;
	line-height: 1.2;
	font-size: 12px;
}

.applicationContainer .dropDownContainer {
	margin-top: 10px;

}

.applicationContainer .dropDownContainer a {
	display: block;
	text-decoration: none;
	color: #333;
	font-weight: bold;
	position: relative;
	padding-right: 40px;
	line-height: 1.6;
	font-size: 1rem;
	margin-bottom: 15px;
}

.applicationContainer .dropDownContainer a svg {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 0;
	right: 0;
	border: 1px solid #cfcfcf;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: rotateZ(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotateZ(-180deg);
}

.applicationContainer .bigHeader a svg {
	left: 240px;
}

.applicationContainer .dropDownContainer a svg.open {
	-webkit-transform: rotateZ(0deg);
	-ms-transform: rotate(0deg);
	transform: rotateZ(0deg);
}

.applicationContainer .dropDownContainer a .small {
	font-weight: bold;
	line-height: 1.6;
	font-size: 0.75em;
}

.applicationContainer .dropDownContainer a .closeText {
	display: inline;
}

.applicationContainer .dropDownContainer a .openText {
	display: none;
}

.applicationContainer .dropDownContainer.open a .closeText {
	display: none;
}

.applicationContainer .dropDownContainer.open a .openText {
	display: inline;
}

.applicationContainer .bigHeader a {
	line-height: 1.23;
	color: #333;
	font-size: 1.625rem;
	font-weight: bold;
}

.applicationContainer .dropDownContainer .innerDropDown {
	text-decoration: underline;
	-webkit-text-decoration-color: #cfcfcf;
	text-decoration-color: #cfcfcf;
}

.applicationContainer .dropDownContainer .innerDropDown:hover {
	-webkit-text-decoration-color: #333;
	text-decoration-color: #333;
}

.applicationContainer .dropDownContainer .dropDownInfo {
	overflow: hidden;
	height: 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.applicationContainer .dropDownContainer.open .dropDownInfo  {
	height: 230px;
}

.applicationContainer .dropDownContainer:nth-child(0n + 2).open .dropDownInfo  {
	height: 170px;
}

.applicationContainer .dropDownContainer.large.open .dropDownInfo  {
	height: 330px;
}

.applicationContainer .dropDownContainer.large.open.innerOpen .dropDownInfo {
	height: 855px;
}

.applicationContainer .bigHeader.dropDownContainer.open .dropDownInfo  {
	height: 435px;
}

.applicationContainer .bigHeader.includeSpouse.dropDownContainer.open .dropDownInfo  {
	height: 525px;
}

.applicationContainer .dropDownContainer .dropDownInfo > p {
	line-height: 1.6;
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: 8px;
}

.applicationContainer .dropDownContainer .dropDownInfo .innerDropDownHeader {
	font-weight: bold;
}

.applicationContainer .dropDownContainer .dropDownInfo > .subHeader {
	font-weight: bold;
	font-size: 1.33333em;
	line-height: 1.6;
}

.applicationContainer .dropDownContainer .dropDownInfo .selectContainer {
	width: 35%;
}

.applicationContainer .dropDownContainer .dropDownInfo .selectContainer label,
.applicationContainer .dropDownContainer .dropDownInfo .selectContainer select {
	margin: 0;
}
.applicationContainer .dropDownContainer .dropDownInfo .selectContainer svg {
	top: 5px;
}

.applicationContainer .dropDownContainer .dropDownInfo > div {
	background-color: #f7f7f7;
	padding: 16px;
	margin-bottom: 10px;
}

.applicationContainer .dropDownContainer .dropDownInfo > .white {
	background-color: #fff;
	padding: 16px 0;
}


.applicationContainer .dropDownContainer .dropDownInfo .financeString {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.6;
	padding: 2px 0;
	margin-bottom: 10px;
}

.applicationContainer .dropDownContainer .dropDownInfo .financeString .rateContainer {
	width: 35%;
	border: 2px solid #cfcfcf;
	padding: 12px 13px;
	border-radius: 4px;
}

.applicationContainer .dropDownContainer .dropDownInfo .financeString .bigText {
	font-size: 1.33333em;
}

.applicationContainer .bigHeader .dropDownInfo .financeString a {
	color: #333;
	font-weight: bold;
	position: relative;
	text-decoration: underline;
	-webkit-text-decoration-color: #cfcfcf;
	text-decoration-color: #cfcfcf;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	font-size: 1rem;
	line-height: 1.6;
	margin: 0;
}

.applicationContainer .bigHeader .dropDownInfo .financeString a:hover {
	-webkit-text-decoration-color: #333;
	text-decoration-color: #333;
}

.applicationContainer .bigHeader .dropDownInfo > div {
	padding: 0;
	background-color: #fff;
	border: 1px solid #f7f7f7;
	margin-bottom: 15px;
}

.applicationContainer .bigHeader .dropDownInfo > div .financeString {
	margin: 0;
	padding: 10px 25px 10px 25px;
}

.applicationContainer .bigHeader .dropDownInfo > div .financeString:nth-child(even) {
	background-color: #f7f7f7;
}

.applicationContainer .bigHeader .dropDownInfo > p {
	padding: 0 25px;
}

@media screen and (max-width: 610px) {
	.applicationContainer .dropDownContainer.large.open.innerOpen .dropDownInfo {
		height: 975px;
	}
}

@media screen and (max-width: 550px) {
	.applicationContainer .recommendedInfo .recommendedProgram p {
		font-size: 2rem;
	}
	.applicationContainer .formContainer .financialInfo .financeString,
	.applicationContainer .bigHeader .dropDownInfo .financeString {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
	}
	.applicationContainer .dropDownContainer .dropDownInfo .selectContainer,
	.applicationContainer .dropDownContainer .dropDownInfo .financeString .rateContainer {
		width: 100%;
	}
	.applicationContainer .formContainer .financialInfo .financeString p:first-child {
		margin-bottom: 5px;
	}
	.applicationContainer .dropDownContainer.open .dropDownInfo  {
		height: 370px;
	}
	.applicationContainer .dropDownContainer:nth-child(0n + 2).open .dropDownInfo  {
		height: 275px;
	}

	.applicationContainer .dropDownContainer.large.open .dropDownInfo  {
		height: 510px;
	}

	.applicationContainer .dropDownContainer.large.open.innerOpen .dropDownInfo {
		height: 1340px;
	}

	.applicationContainer .bigHeader.dropDownContainer.open .dropDownInfo  {
		height: 660px;
	}

	.applicationContainer .bigHeader.includeSpouse.dropDownContainer.open .dropDownInfo  {
		height: 800px;
	}
}

@media screen and (max-width: 480px) {
	.applicationContainer .bigHeader.dropDownContainer.open .dropDownInfo  {
		height: 690px;
	}

	.applicationContainer .bigHeader.includeSpouse.dropDownContainer.open .dropDownInfo  {
		height: 830px;
	}
}

@media screen and (max-width: 414px) {
	.applicationContainer .dropDownContainer.large.open.innerOpen .dropDownInfo {
		height: 1450px;
	}
}

@media screen and (max-width: 375px) {
	.applicationContainer .dropDownContainer.open .dropDownInfo {
		height: 400px;
	}

	.applicationContainer .dropDownContainer.large.open .dropDownInfo {
		height: 570px;
	}

	.applicationContainer .dropDownContainer.large.open.innerOpen .dropDownInfo {
		height: 1600px;
	}

	.applicationContainer .bigHeader.dropDownContainer.open .dropDownInfo {
		height: 785px;
	}

	.applicationContainer .bigHeader.includeSpouse.dropDownContainer.open .dropDownInfo {
		height: 950px;
	}
}
/* end styling the CommunityApplicationRefinanceSolution component */

/* start styling the CommunityApplicationUploadFiles component */
.applicationContainer .question .formContainer .filesContainer {
	list-style: none;
}

.applicationContainer .question .formContainer .filesContainer li {
	border-bottom: 2px solid #cfcfcf;
	margin-bottom: 20px;
}

.applicationContainer .question .formContainer .filesContainer .hiddenText {
	margin-bottom: 10px;
}

.applicationContainer .question .formContainer .filesContainer .hiddenText.open > div {
	height: 80px;
	padding-left: 16px;
}

.applicationContainer .question .formContainer .filesContainer .hiddenText a {
	font-weight: bold;
}

.applicationContainer .question .formContainer .filesContainer .hiddenText label {
	margin-bottom: 10px;
}

.applicationContainer .question .formContainer .filesContainer .hiddenText label div {
	position: relative;
	height: 48px;
	border: 2px solid #cfcfcf;
	border-radius: 4px;
	padding: 10px;
	margin-top: 5px;
}

.applicationContainer .question .formContainer .filesContainer .hiddenText input[type="file"] {
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
}
/* end styling the CommunityApplicationUploadFiles component */

/* start styling the CommunityApplicationTalkToUs component */
.applicationContainer .leftSide {
	width: 32%;
	margin-left: 15px;
}

.applicationContainer .rightSide {
	width: 68%;
}

.applicationContainer .question .timeInfo span {
	font-weight: bold;
}

.applicationContainer .question .timeInfo span a {
	font-size: 1.2em;
	color: #333;
	text-decoration: underline;
	-webkit-text-decoration-color: #cfcfcf;
	text-decoration-color: #cfcfcf;
}

.applicationContainer .question .timeInfo span a:hover {
	-webkit-text-decoration-color: #333;
	text-decoration-color: #333;
}

.applicationContainer .question .blockFooter {
	margin-top: 30px;
	border-top: 2px dotted #333;
	padding-top: 10px;
}

.applicationContainer .question .blockFooter a {
	color: #333;
	font-weight: bold;
	text-decoration: underline;
	-webkit-text-decoration-color: #cfcfcf;
	text-decoration-color: #cfcfcf;
}

.applicationContainer .question .blockFooter a:hover {
	-webkit-text-decoration-color: #333;
	text-decoration-color: #333;
}

.applicationContainer .leftSide span {
	width: 270px;
	height: 270px;
	display: block;
	border-radius: 50%;
	background-color: #13a48e;;
	position: relative;
}

.applicationContainer .leftSide span svg {
	width: 180px;
	height: 180px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	fill: #fff;
}

@media screen and (max-width: 960px) {
	.applicationContainer .leftSide span {
		width: 220px;
		height: 220px;
	}
	.applicationContainer .leftSide span svg {
		width: 130px;
		height: 130px;
	}
}

@media screen and (max-width: 770px) {
	.applicationContainer .leftSide {
		display: none;
	}
	.applicationContainer .rightSide {
		width: 100%;
		padding: 0 15px;
	}
}
/* end styling the CommunityApplicationTalkToUs component */

/* start styling the CommunityApplicationCurrentJob component */

.applicationContainer .formContainer .questionItem .currentJobPreview {
	position: relative;
}

.applicationContainer .formContainer .questionItem .currentJobPreview svg {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.applicationContainer .formContainer .questionItem .currentJobPreview .itemBlock {
	margin-bottom: 20px;
	padding-right: 80px;
}

.applicationContainer .formContainer .questionItem .currentJobPreview .itemBlock:last-child {
	margin-bottom: 0;
}

.applicationContainer .formContainer .questionItem .currentJobPreview h3 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

.applicationContainer .formContainer .questionItem label .wide {
	width: 100%;
}

.applicationContainer .formContainer .questionItem .startLivingDate {
	position: relative;
}

.applicationContainer .formContainer .questionItem .startLivingDate input{
	width: 47%;
}

.applicationContainer .formContainer .questionItem .startLivingDate input:last-child {
	position: absolute;
	right: 0;
}

.applicationContainer .formContainer .questionItem label .startLivingDate span {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	margin-left: 2.5%;
	position: static;
}

/* */

.applicationContainer .formContainer .questionItem label .checkboxes {
	list-style: none;
	padding: 0;
	margin: 0;
}

.applicationContainer .formContainer .questionItem label .checkboxes li {
	display: block;
	position: relative;
	border-bottom: 2px solid #e6e6e6;
}

.applicationContainer .formContainer .questionItem label .checkboxes li:first-child {
	font-size: 0.8rem;
	font-style: italic;
	padding-left: 0;
	margin-top: 10px;
	padding-bottom: 15px;
	color: #333;
}

.applicationContainer .formContainer .questionItem label .checkboxes li label {
	padding: 20px 0 20px 40px;
	cursor: pointer;
	margin-bottom: 0;
}

.applicationContainer .formContainer .questionItem label .checkboxes li input {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 20px;
	left: 0;
	margin: 0;
	cursor: pointer;
}

/* ///// */

.applicationContainer .formContainer .questionItem .checkboxes .jobBonusContainer {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-between;
}

.applicationContainer .formContainer .questionItem .checkboxes .jobBonusContainer div {
	position: relative;
}

.applicationContainer .formContainer .questionItem .checkboxes .jobBonusContainer .yearContainer {
	width: 170px;
}

.applicationContainer .formContainer .questionItem .checkboxes .jobBonusContainer .annualAmountContainer {
	width: 60%;
}

/*.applicationContainer .formContainer .questionItem .checkboxes .jobBonusContainer div p {*/
/*	font-size: 0.875rem;*/
/*}*/

.applicationContainer .formContainer .questionItem .checkboxes p {
	font-size: 0.875rem;
}

.applicationContainer .formContainer .questionItem .checkboxes .jobBonusContainer div select,
.applicationContainer .formContainer .questionItem .checkboxes .jobBonusContainer div input {
	position: static;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 48px;
}

.applicationContainer .formContainer .questionItem .checkboxes .jobBonusContainer div select {
	padding: 12px 45px 12px 13px;
}

.applicationContainer .formContainer .questionItem .checkboxes .jobBonusContainer div input {
	padding-left: 37px;
}

.applicationContainer .formContainer .questionItem .checkboxes .jobBonusContainer div svg {
	top: 30px;
}

.applicationContainer .formContainer .questionItem .checkboxes .jobBonusContainer div span {
	display: inline;
}

/**/

/* custom checkbox */
.applicationContainer .formContainer .customCheckboxContainer {
	display: block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.applicationContainer .formContainer .checkmark {
	position: absolute;
	top: 20px;
	left: 0;
	height: 15px;
	width: 15px;
	border: 1px solid black;
	border-radius: 2px;
}

.applicationContainer .formContainer .customCheckboxContainer:hover .checkmark {
	background-color: #ccc;
}

.applicationContainer .formContainer .customCheckboxContainer.checked .checkmark {
	background-color: #2196F3;
}

.applicationContainer .formContainer .customCheckboxContainer:hover.checked .checkmark {
	background-color: #005cc8;
}

.applicationContainer .formContainer .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.applicationContainer .formContainer .customCheckboxContainer.checked .checkmark:after {
	display: block;
}

.applicationContainer .formContainer .customCheckboxContainer .checkmark:after {
	left: 5px;
	top: 1px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* custom checkbox */

.applicationContainer .formContainer .questionItem .additionalIncome {
	margin-top: 10px;
	border: 2px solid #cfcfcf;
	border-radius: 4px;
	padding: 10px;
}

.applicationContainer .formContainer .questionItem .additionalIncome label {
	margin-bottom: 10px;
}

.applicationContainer .formContainer .questionItem .additionalIncome label:last-child {
	margin-bottom: 0;
}


.applicationContainer .formContainer .cancel {
	background-color: #fff;
	border: none;
	outline: none;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	font-weight: 500;
	letter-spacing: .62px;
	line-height: normal;
	margin: 0;
	overflow: visible;
	padding: 6px 7px;
	text-align: center;
	transition: all .3s;
	vertical-align: middle;
	white-space: normal;
	border-bottom: 2px solid #cecece;
	transition: all 0.3s ease;
}
.applicationContainer .formContainer .cancel:hover {
	border-bottom-color: #333333;
	font-weight: bold;
}

@media screen and (max-width: 600px) {
	.applicationContainer .formContainer .questionItem label .startLivingDate span {
		display: none;
	}
}

@media screen and (max-width: 550px) {
	.applicationContainer .formContainer .questionItem .checkboxes .jobBonusContainer {
		flex-direction: column;
	}

	.applicationContainer .formContainer .questionItem .checkboxes .jobBonusContainer .yearContainer {
		width: 100%;
	}

	.applicationContainer .formContainer .questionItem .checkboxes .jobBonusContainer .annualAmountContainer {
		width: 100%;
	}
}

/* end styling the CommunityApplicationCurrentJob component */

/* start styling CommunityApplicationAlimonyInfo component */
.applicationContainer .question .formContainer .alimonyContainer {
	border-bottom: 2px solid #cfcfcf;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.applicationContainer .question .formContainer .alimonyContainer [data-name="remainingPayments"] {
	padding-left: 15px;
}
/* end styling CommunityApplicationAlimonyInfo component*/

/* start styling CommunityApplicationChooseOption component */
.applicationContainer .formContainer .questionItem .optionsHeader {
	line-height: 1.2;
	color: #333;
	font-family: RocketSans, Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.applicationContainer .formContainer .questionItem .optionTypes {
	list-style: none;
	padding: 0;
	margin: 0;
}

.applicationContainer .formContainer .questionItem .singleChoice,
.applicationContainer .formContainer .questionItem .optionsContainer .optionTypes li {
	display: block;
	position: relative;
}

.applicationContainer .formContainer .questionItem .singleChoice label,
.applicationContainer .formContainer .questionItem .optionsContainer .optionTypes label {
	padding: 8px 0 8px 30px;
	cursor: pointer;
	margin-bottom: 0;
}

.applicationContainer .formContainer .questionItem .singleChoice input,
.applicationContainer .formContainer .questionItem .optionsContainer .optionTypes input {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 7px;
	left: 0;
	margin: 0;
	cursor: pointer;
}

.applicationContainer .formContainer .questionItem .horizontalLine {
	border-bottom: 2px solid #cfcfcf;
}

.applicationContainer .formContainer .questionItem .optionsContainer a {
	display: block;
	position: relative;
	text-decoration: none;
	margin: 10px 0;
	line-height: 32px;
	color: #333;
}

.applicationContainer .formContainer .questionItem .optionsContainer svg {
	width: 32px;
	height: 32px;
	border: 1px solid #cfcfcf;
	border-radius: 50%;
	margin-right: 15px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: rotateZ(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotateZ(-90deg);
}

.applicationContainer .formContainer .questionItem .optionsContainer svg.open {
	-webkit-transform: rotateZ(0deg);
	-ms-transform: rotate(0deg);
	transform: rotateZ(0deg);
}

.applicationContainer .formContainer .questionItem .optionsContainer .optionTypes {
	margin: 10px 0;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	height: 0;
}

.applicationContainer .formContainer .questionItem .optionsContainer .optionTypes input[type=text] {
	position: static;
	margin-left: 5%;
	margin-bottom: 10px;
	width: 95%;
	display: block;
	margin-top: 10px;
	padding: 0 0 0 15px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 2px solid #333;
	border-radius: 4px;
	color: #333;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.3;
	height: 48px;
	outline: 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.applicationContainer .formContainer .questionItem .optionsContainer .optionTypes input[type=text]:disabled {
	border-color: #cfcfcf;
}

.applicationContainer .formContainer .questionItem .optionsContainer .optionTypes input[type=text]:focus {
	border-color: #13a48e;
}
/* end styling CommunityApplicationChooseOption component */

/* start styling the CommunityApplicationFooter component */
.applicationContainer .footer {
	width: 100%;
	background-color: #f7f7f7;
}

.applicationContainer .footerContainer {
	max-width: 82em;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 16px;
}

.applicationContainer .footerMenu {
	text-align: center;
	margin-bottom: 30px;
	border-bottom: 2px solid #bebebe;
	padding-bottom: 20px;
}

.applicationContainer .footerMenu .footerMenuItem {
	display: inline-block;
	vertical-align: top;
	width: 250px;
	margin-right: 20px;
}

.applicationContainer .footerMenu .footerMenuItem:last-child {
	margin-right: 0;
}

.applicationContainer .footerMenu .footerMenuItem h3,
.applicationContainer .footerMenu .footerMenuItem > a {
	font-weight: 700;
	display: block;
	text-align: center;
	color: #333;
	font-size: 1rem;
	margin-bottom: 20px;
}

.applicationContainer .footerMenu .footerMenuItem > a {
	display: none;
}

.applicationContainer .footerMenu .footerMenuItem .logo {
	width: 125px;
	height: 35px;
	margin-bottom: 10px;
}

.applicationContainer .footerMenu .footerMenuItem:first-child ul {
	line-height: 1.84;
	color: #333;
	font-size: .8125rem;
	font-weight: 300;
	text-align: left;
}

.applicationContainer .footerContainer .footerMenu .footerMenuItem ul.openMenu {
	display: block;
}

.applicationContainer .footerMenu .footerMenuItem li {
	margin-bottom: 24px;
}

.applicationContainer .footerMenu .footerMenuItem li a {
	line-height: 1.6;
	color: #333;
	font-size: 1rem;
	font-weight: normal;
}

.applicationContainer .footerMenuItem .iconContainer a {
	margin-right: 16px;
}

.applicationContainer .footerMenuItem .iconContainer a svg {
	width: 30px;
	height: 30px;
}

.applicationContainer .footerMenuItem .iconContainer a .instagram {
	stroke: #333;
}

.applicationContainer .footerMenuItem .iconContainer a .youtube {
	height: 36px;
	width: 35px;
}

.applicationContainer .footerInfo p {
	margin-bottom: 30px;
	font-size: 0.85em;
	color: #333;
	font-weight: 300;
}

.applicationContainer .footerInfo p a {
	text-decoration: underline;
	color: #333;
	font-weight: 700;
	-webkit-text-decoration-color: #cfcfcf;
	text-decoration-color: #cfcfcf;
}

.applicationContainer .footerInfo p a:hover {
	-webkit-text-decoration-color: #333;
	text-decoration-color: #333;
}

@media screen and (max-width: 800px) {
	.applicationContainer .footerMenu .footerMenuItem h3 {
		display: none;
	}

	.applicationContainer .footerMenu .footerMenuItem > a {
		display: block;
	}
}

@media screen and (max-width: 700px) {
	.applicationContainer .footerMenu .footerMenuItem {
		display: block;
		width: 100%;
		text-align: left;
	}

	.applicationContainer .footerMenu .footerMenuItem > a {
		text-align: left;
	}

	.applicationContainer .footerMenu .footerMenuItem ul {
		display: none;
	}
}
/* end styling the CommunityApplicationFooter component */

/* hide arrows on input type number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.applicationContainer input::placeholder {
	color: #bebebe;
}