<template>
	<div class="slide">
		<label class="slideHeader">{assets.header}</label>
		<div class="content">
			<template for:each={assets.options} for:item="opt" for:index="index">
				<div class="fieldContainer" key={opt.key}>
					<label for={opt.key}>{opt.caption}</label>
					<input maxlength="50" class="inputField u-Full" id={opt.key} placeholder="" value={opt.value} type={opt.type} oninput={typeOn} data-index={index} />

					<template if:true={opt.isEmpty}>
						<div class="errorMessage">{opt.emptyErrorMessage}</div>
					</template>
					<template if:true={opt.hasError}>
						<div class="errorMessage">{opt.errorMessage}</div>
					</template>
					<template if:true={opt.isErrorOnBD}>
						<div class="errorMessage">{opt.errorMessageFromBD}</div>
					</template>
				</div>
			</template>
		</div>
	</div>
</template>