<template>
	<div class="alimonyContainer">
		<label
			>Are you legally required to pay alimony, child support or separate maintenance?
			<select onchange={selectAlimonyType} data-name="alimonyType">
				<option value="">Please select one:</option>
				<template iterator:it={alimonyTypes}>
					<template if:true={it.value.isSelected}>
						<option value={it.value.value} key={it.value.name} selected="selected">{it.value.name}</option>
					</template>
					<template if:false={it.value.isSelected}>
						<option value={it.value.value} key={it.value.name}>{it.value.name}</option>
					</template>
				</template>
			</select>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				<g data-name="Layer 2">
					<g data-name="chevron-down">
						<rect width="24" height="24" opacity="0"></rect>
						<path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
					</g>
				</g>
			</svg>
		</label>

        <label>About how much do you pay monthly?
            <input type="text" oninput={setCurrencyField} data-name="monthlyPay" value={alimonyInfo.monthlyPay}>
            <span>$</span>
        </label>

        <label>About how many monthly payments are remaining?
            <input type="text" oninput={setNumberField} data-name="remainingPayments" value={alimonyInfo.remainingPayments}>
        </label>

        <label>Please provide the name of the person or institution to whom you make the payments.
            <input class="textImput" type="text" oninput={setTextField} data-name="paymentReceiver" value={alimonyInfo.paymentReceiver} placeholder="First and Last Name or Institution"/>
        </label>

		<template if:true={isNotFirst}>
			<button class="cancel" onclick={cancel}>Cancel</button>
		</template>
	</div>
</template>