<template>
	<template if:false={isShowSpinner}>
		<div class="siginnamespace">
			<div class="slideContainer siMarginTop">
				<div class="slide">
					<div class="headerItem">
						<a href="https://ready2found-developer-edition.na156.force.com/Ready2Fund" aria-label="Ready2Fund">
							<img class="logo" src={logoURL} width="230" height="64" />
						</a>
					</div>
					<label class="slideHeader">Sign In To Your Ready2Fund Account</label>
					<div class="content">
						<template if:true={isShowVerifyMessage}>
							<div class="fieldContainer statusOk">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" version="1.1" class="svgOk">
									<g id="surface1">
										<path
											d="M 16 3 C 8.832031 3 3 8.832031 3 16 C 3 23.167969 8.832031 29 16 29 C 23.167969 29 29 23.167969 29 16 C 29 8.832031 23.167969 3 16 3 Z M 16 5 C 22.085938 5 27 9.914063 27 16 C 27 22.085938 22.085938 27 16 27 C 9.914063 27 5 22.085938 5 16 C 5 9.914063 9.914063 5 16 5 Z M 22.28125 11.28125 L 15 18.5625 L 10.71875 14.28125 L 9.28125 15.71875 L 14.28125 20.71875 L 15 21.40625 L 15.71875 20.71875 L 23.71875 12.71875 Z "
										></path>
									</g>
								</svg>

								<div class="verifyMessage">Thanks for verifying your email! Sing in to your Ready2Fund Account to continue.</div>

								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" class="svgClose" onclick={closeVerifyMessage} role="button" tabindex="0">
									<path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
								</svg>
							</div>
						</template>

						<div class="fieldContainer">
							<label for="username">Username</label>
							<input class="inputField" id="username" placeholder="" type="text" oninput={typeOn} data-name="username" value={login} />

							<div class="helpInformation">If you created your account after 12/2017, your email address is username</div>
						</div>

						<div class="fieldContainer">
							<label for="pass">Password <a href="#" onclick={forgotPassword}>Forgot Password?</a></label>
							<input class="inputField" id="pass" placeholder="" type={passFieldType} oninput={typeOn} data-name="pass" value={password} />

							<label class="showPass">
								<input type="checkbox" onchange={showPass} />
								Show password
							</label>
						</div>

						<template if:true={isStandardError}>
							<div class="errorMessage">{errorStandartMessage}</div>
						</template>

						<div class="fieldContainer">
							<button class="confirmButton" onclick={submit}>Sign In</button>
							<a href="#" class="buttonLink">Need Help? Talk to Us</a>
							<a href="#" class="buttonLink">Terms Of Use</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</template>
	<template if:true={isShowSpinner}>
		<lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
	</template>
</template>