<template>
	<template if:true={jobInfo.isEditMode}>
		<div class="formContainer">
			<div class="questionItem">
				<label
					>Employer's Name
					<input class="textImput" type="text" oninput={setTextField} data-name="employerName" value={jobInfo.employerName} />
				</label>

				<label
					>Employer Phone Number
					<div class="phone wide">
						(<input
							type="text"
							placeholder="###"
							maxlength="3"
							data-name="employerPhoneOne"
							oninput={typePhoneNumber}
							onfocus={toggleBorder}
							onblur={toggleBorder}
							inputmode="numeric"
							value={jobInfo.employerPhoneOne}
						/>)
						<input
							type="text"
							placeholder="###"
							maxlength="3"
							data-name="employerPhoneTwo"
							oninput={typePhoneNumber}
							onfocus={toggleBorder}
							onblur={toggleBorder}
							inputmode="numeric"
							value={jobInfo.employerPhoneTwo}
						/>-
						<input
							type="text"
							placeholder="####"
							maxlength="4"
							data-name="employerPhoneThree"
							oninput={typePhoneNumber}
							onfocus={toggleBorder}
							onblur={toggleBorder}
							inputmode="numeric"
							value={jobInfo.employerPhoneThree}
						/>
					</div>
				</label>

				<label
					>Job Title
					<input class="textImput" type="text" oninput={setTextField} data-name="jobTitle" value={jobInfo.jobTitle} />
				</label>

				<label
					>Job Type
					<select onchange={selectJobType} data-name="jobType">
						<option value="">Please select one:</option>
						<template iterator:it={jobTypes}>
							<template if:true={it.value.isSelected}>
								<option value={it.value.value} key={it.value.name} selected="selected">{it.value.name}</option>
							</template>
							<template if:false={it.value.isSelected}>
								<option value={it.value.value} key={it.value.name}>{it.value.name}</option>
							</template>
						</template>
					</select>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<g data-name="Layer 2">
							<g data-name="chevron-down">
								<rect width="24" height="24" opacity="0"></rect>
								<path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
							</g>
						</g>
					</svg>
				</label>

				<label
					>Employment Start Date
					<div class="startLivingDate">
						<input class="textImput" type="text" oninput={setDateValue} data-name="startMonth" placeholder="mm" value={jobInfo.startMonth} /><span>/</span>
						<input class="textImput" type="text" oninput={setDateValue} data-name="startYear" placeholder="yyyy" value={jobInfo.startYear} />
					</div>
				</label>

				<label
					>What's your base yearly income for this job?
					<input class="currencyField" type="text" oninput={setCurrencyField} data-name="baseIncome" value={jobInfo.baseIncome} />
					<span>$</span>
				</label>

				<label
					>Do you receive other types of income for this job?
					<ul class="checkboxes">
						<li>Select all that apply (optional).</li>
						<li>
							<label class={calculatedBonusClasses} onclick={setIncomeType} data-name="bonus" data-atr="isSelected" data-value={jobInfo.bonus.isSelected}
								><span class="checkmark"></span>Bonus</label
							>
							<template if:true={jobInfo.bonus.isSelected}>
								<p>If possible, please provide the most recent two years of bonus history.</p>
								<c-community-application-additional-income-info
										name="bonus"
										atr="primary"
										selected-year={jobInfo.bonus.primaryYear}
										amount={jobInfo.bonus.primaryAmount}
										onchangecomponent={updateValues}
								></c-community-application-additional-income-info>
								<c-community-application-additional-income-info
										name="bonus"
										atr="secondary"
										selected-year={jobInfo.bonus.secondaryYear}
										amount={jobInfo.bonus.secondaryAmount}
										onchangecomponent={updateValues}
								></c-community-application-additional-income-info>
							</template>
						</li>
						<li>
							<!-- <label><input type="checkbox" onchange={setIncomeType} data-name="commission" />Commission</label> -->
							<label class={calculatedCommissionClasses} onclick={setIncomeType} data-name="commission" data-atr="isSelected" data-value={jobInfo.commission.isSelected}
								><span class="checkmark"></span>Commission</label>
							<template if:true={jobInfo.commission.isSelected}>
								<p>If possible, please provide the most recent two years of commission history.</p>
								<c-community-application-additional-income-info
										name="commission"
										atr="primary"
										selected-year={jobInfo.commission.primaryYear}
										amount={jobInfo.commission.primaryAmount}
										onchangecomponent={updateValues}
								></c-community-application-additional-income-info>
								<c-community-application-additional-income-info
										name="commission"
										atr="secondary"
										selected-year={jobInfo.commission.secondaryYear}
										amount={jobInfo.commission.secondaryAmount}
										onchangecomponent={updateValues}
								></c-community-application-additional-income-info>
							</template>
						</li>
						<li>
							<!-- <label><input type="checkbox" onchange={setIncomeType} data-name="overtime" />Overtime</label> -->
							<label class={calculatedOvertimeClasses} onclick={setIncomeType} data-name="overtime" data-atr="isSelected" data-value={jobInfo.overtime.isSelected}
								><span class="checkmark"></span>Overtime</label>
							<template if:true={jobInfo.overtime.isSelected}>
								<p>If possible, please provide the most recent two years of overtime history.</p>
								<c-community-application-additional-income-info
										name="overtime"
										atr="primary"
										selected-year={jobInfo.overtime.primaryYear}
										amount={jobInfo.overtime.primaryAmount}
										onchangecomponent={updateValues}
								></c-community-application-additional-income-info>
								<c-community-application-additional-income-info
										name="overtime"
										atr="secondary"
										selected-year={jobInfo.overtime.secondaryYear}
										amount={jobInfo.overtime.secondaryAmount}
										onchangecomponent={updateValues}
								></c-community-application-additional-income-info>
							</template>
						</li>
					</ul>

					<!-- <div class="additionalIncome">
                            <label>Bonus:
                                <input class="currencyField" type="text" oninput={setCurrencyField} data-name="bonus" value={jobInfo.bonus}>
                                <span>$</span>
                            </label>
        
                            <label>Commission:
                                <input class="currencyField" type="text" oninput={setCurrencyField} data-name="commission" value={jobInfo.commission}>
                                <span>$</span>
                            </label>
        
                            <label>Overtime:
                                <input class="currencyField" type="text" oninput={setCurrencyField} data-name="overtime" value={jobInfo.overtime}>
                                <span>$</span>
                            </label>
                        </div> -->
				</label>

				<c-community-application-dual-choice
					label="Is your employer a family member, or involved in the refinancing of the home?"
					default-value={jobInfo.isEmployerFamilyMember}
					action-name="familymember"
					variable-name="isEmployerFamilyMember"
					onfamilymember={setFamilyMember}
				>
				</c-community-application-dual-choice>
			</div>

			<button class="cancel" onclick={cancel}>Cancel</button>
		</div>
	</template>

	<template if:false={jobInfo.isEditMode}>
		<div class="formContainer">
			<div class="questionItem">
				<div class="currentJobPreview">
					<!-- <svg xmlns="http://www.w3.org/2000/svg">
                        <path d="M77.926,94.924H8.217C6.441,94.924,5,93.484,5,91.706V21.997c0-1.777,1.441-3.217,3.217-3.217h34.854 c1.777,0,3.217,1.441,3.217,3.217s-1.441,3.217-3.217,3.217H11.435v63.275h63.274V56.851c0-1.777,1.441-3.217,3.217-3.217 c1.777,0,3.217,1.441,3.217,3.217v34.855C81.144,93.484,79.703,94.924,77.926,94.924z"></path>
                        <path d="M94.059,16.034L84.032,6.017c-1.255-1.255-3.292-1.255-4.547,0l-9.062,9.073L35.396,50.116 c-0.29,0.29-0.525,0.633-0.686,1.008l-7.496,17.513c-0.526,1.212-0.247,2.617,0.676,3.539c0.622,0.622,1.437,0.944,2.274,0.944 c0.429,0,0.858-0.086,1.276-0.257l17.513-7.496c0.375-0.161,0.719-0.397,1.008-0.686l35.026-35.026l9.073-9.062 C95.314,19.326,95.314,17.289,94.059,16.034z M36.286,63.79l2.928-6.821l3.893,3.893L36.286,63.79z M46.925,58.621l-5.469-5.469 L73.007,21.6l5.47,5.469L46.925,58.621z M81.511,24.034l-5.469-5.469l5.716-5.716l5.469,5.459L81.511,24.034z"></path>
                    </svg> -->
					<svg viewBox="0 -1 401.52289 401" xmlns="http://www.w3.org/2000/svg" onclick={switchToEdit}>
						<path
							d="m370.589844 250.972656c-5.523438 0-10 4.476563-10 10v88.789063c-.019532 16.5625-13.4375 29.984375-30 30h-280.589844c-16.5625-.015625-29.980469-13.4375-30-30v-260.589844c.019531-16.558594 13.4375-29.980469 30-30h88.789062c5.523438 0 10-4.476563 10-10 0-5.519531-4.476562-10-10-10h-88.789062c-27.601562.03125-49.96875 22.398437-50 50v260.59375c.03125 27.601563 22.398438 49.96875 50 50h280.589844c27.601562-.03125 49.96875-22.398437 50-50v-88.792969c0-5.523437-4.476563-10-10-10zm0 0"
						></path>
						<path
							d="m376.628906 13.441406c-17.574218-17.574218-46.066406-17.574218-63.640625 0l-178.40625 178.40625c-1.222656 1.222656-2.105469 2.738282-2.566406 4.402344l-23.460937 84.699219c-.964844 3.472656.015624 7.191406 2.5625 9.742187 2.550781 2.546875 6.269531 3.527344 9.742187 2.566406l84.699219-23.464843c1.664062-.460938 3.179687-1.34375 4.402344-2.566407l178.402343-178.410156c17.546875-17.585937 17.546875-46.054687 0-63.640625zm-220.257812 184.90625 146.011718-146.015625 47.089844 47.089844-146.015625 146.015625zm-9.40625 18.875 37.621094 37.625-52.039063 14.417969zm227.257812-142.546875-10.605468 10.605469-47.09375-47.09375 10.609374-10.605469c9.761719-9.761719 25.589844-9.761719 35.351563 0l11.738281 11.734375c9.746094 9.773438 9.746094 25.589844 0 35.359375zm0 0"
						></path>
					</svg>
					<div class="itemBlock">
						<h3>{jobInfo.employerName}</h3>
						<p>({jobInfo.employerPhoneOne}) {jobInfo.employerPhoneTwo} - {jobInfo.employerPhoneThree}</p>
						<p>{jobInfo.jobType} {jobInfo.jobTitle} since {jobInfo.startMonth}/{jobInfo.startYear}</p>
					</div>
					<div class="itemBlock">
						<b>Total Annual Salary</b>
						<p><lightning-formatted-number value={jobInfo.baseIncome} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
					</div>
					<div class="itemBlock">
						<p>Employer is a famaly member or is an involved party of this transaction - {isEmployerFamilyMember}</p>
					</div>
				</div>
			</div>
		</div>
	</template>
</template>