<template>
	<div class="question">
		<div class="borderMark"></div>
		<h1>Home Info</h1>

		<div class="formContainer">
			<div class="questionItem">
				<label
					>Property Address
					<input class="textImput" type="text" onfocus={togglePrompt} onblur={togglePrompt} oninput={setPropertyAddress}/>
					<template if:true={isShowPrompt}>
						<p class="prompt">9092 Madeline Dr Huntington Beach, CA 92646-3418</p>
					</template>
				</label>

				<label
					>Address Line 2 (optional)
					<input class="textImput" type="text" oninput={setAddressLine}/>
				</label>

				<label
					>City
					<input class="textImput" type="text" oninput={setCity}/>
				</label>

				<label
					>State
					<select onchange={selectState}>
						<option value="">Please select one:</option>
						<template iterator:it={states}>
							<template if:true={it.value.isSelected}>
								<option value={it.value.value} key={it.value.name} selected="selected">{it.value.name}</option>
							</template>
							<template if:false={it.value.isSelected}>
								<option value={it.value.value} key={it.value.name}>{it.value.name}</option>
							</template>
						</template>
					</select>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <g data-name="Layer 2">
                            <g data-name="chevron-down">
                                <rect width="24" height="24" opacity="0"></rect>
                                <path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
                            </g>
                        </g>
                    </svg>
				</label>

				<label
					>ZIP Code
					<input class="textImput" type="text" oninput={setZipCode}/>
				</label>

				<label
					>Your Phone Number
					<div class="phone">
						(<input
							type="text"
							placeholder="###"
							maxlength="3"
							data-part="one"
							oninput={typePhoneNumber}
							onfocus={toggleBorder}
							onblur={toggleBorder}
							inputmode="numeric"
						/>)
						<input
							type="text"
							placeholder="###"
							maxlength="3"
							data-part="two"
							oninput={typePhoneNumber}
							onfocus={toggleBorder}
							onblur={toggleBorder}
							inputmode="numeric"
						/>-
						<input
							type="text"
							placeholder="####"
							maxlength="4"
							data-part="three"
							oninput={typePhoneNumber}
							onfocus={toggleBorder}
							onblur={toggleBorder}
							inputmode="numeric"
						/>
					</div>
				</label>
			</div>
		</div>

		<p>By saving and continuing you agree to our Communication Consent.</p>
		<div class="info">
			<p>
				<b>Communication Consent:</b> <br />
				By submitting your contact information you agree to our <a href="#">Terms of Use</a> and our <span> </span><a href="#">Security and Privacy Policy.</a> You
				also expressly consent to having Quicken Loans, our <a href="#">Family of Companies</a>, our <span> </span> <a href="#">partner companies</a> and
				potentially our <a href="#">mortgage partners</a> contact you about your inquiry by text message or phone (including automatic telephone dialing system or
				an artificial or prerecorded voice) to the residential or cellular telephone number you have provided, even if that telephone number is on a corporate,
				state, or national Do Not Call Registry. You do not have to agree to receive such calls or messages as a condition of getting any services from Quicken
				Loans or its affiliates. By communicating with us by phone, you consent to calls being recorded and monitored.
			</p>
		</div>

		<button class="confirmButton" onclick={saveHomeInfo}>Save & Continue</button>
	</div>
</template>