<template>
    <div class="formContainer">
        <div class="questionItem">
            <h3 class="optionsHeader">{header}</h3>
            <div class="horizontalLine"></div>
            <div class="optionsContainer">
                <a href="#" onclick={toggleMenu}>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <g data-name="Layer 2">
                            <g data-name="chevron-down">
                                <rect width="24" height="24" opacity="0"></rect>
                                <path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
                            </g>
                        </g>
                    </svg>

                    View all ethnicity options
                </a>
                <ul class="optionTypes">
                    <template for:each={options} for:item="item" for:index="index">
                        <li key={item.value}>
                            <template if:true={item.isChecked}>
                                <label>
                                    <input type="checkbox" onchange={selectItem} data-index={index} data-name={item.value} checked>{item.value}
                                </label>
                                <template if:true={item.isOther}>
                                    <input 
                                        class="otherVariant" 
                                        type="text" 
                                        oninput={setOther} 
                                        value={item.otherValue} 
                                        data-index={index}
                                        data-name={item.value}
                                        placeholder={item.placeholder}/>
                                </template>
                            </template>
                            <template if:false={item.isChecked}>
                                <label>
                                    <input type="checkbox" onchange={selectItem} data-index={index} data-name={item.value}>{item.value}                                    
                                </label>
                                <template if:true={item.isOther}>
                                    <input 
                                        class="otherVariant" 
                                        type="text" 
                                        oninput={setOther} 
                                        value={item.otherValue} 
                                        data-index={index}
                                        data-name={item.value}
                                        disabled
                                        placeholder={item.placeholder}/>
                                </template>
                            </template>           
                        </li>             
                    </template>
                </ul>
            </div>
            <div class="horizontalLine"></div>
            <div class="singleChoice">
                <template if:true={noneAll.isChecked}>
                    <label><input type="checkbox" onchange={selectItem} data-name="noneAll" checked>{noneAll.value}</label>
                </template>
                <template if:false={noneAll.isChecked}>
                    <label><input type="checkbox" onchange={selectItem} data-name="noneAll">{noneAll.value}</label>
                </template>
            </div>
        </div>
    </div>
</template>