<template>
	<template if:false={isShowSpinner}>
		<div class="siginnamespace">
			<div class="slideContainer fpMarginTop">
				<div class="slide">
					<label class="slideHeader">PASSWORD RESET</label>
					<p>To reset your password, we'll need your username.</p>
					<p class="last">We'll send password reset instructions to the email address associated with your account.</p>
					<div class="content">
						<div class="fieldContainer">
							<input class="inputField" id="username" placeholder="Username" type="text" oninput={typeOn} value={username} />
						</div>

						<div class="fieldContainer">
							<template if:true={isSuccess}>
								<div class="succcesMessage">We have sent you an email. Please check your mail.</div>
							</template>
							<template if:true={isError}>
								<div class="errorMessage">An error occurred while submitting your request, please contact us or try again.</div>
							</template>
						</div>

						<div class="fieldContainer">
							<button class="confirmButton" onclick={reset}>Reset Password</button>
							<a href="#" class="buttonLink" onclick={cancel}>Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</template>
	<template if:true={isShowSpinner}>
		<lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
	</template>
</template>