:root {
	--button-confirm-and-circle-bar: #008473; /* var(--main-color, #008473); */
	--item-color: #333; /* var(--item-color, #333); */
	--item-color-secondary: #fff; /* var(--item-color-secondary, #fff); */
	--error-message-color: #c8102f; /* var(--error-message-color, #c8102f); */
}

/* start styling the communitySiteHeader component */

.startnamespace .header {
	padding: 1em;
	max-width: 93.75em;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}

.startnamespace .headerItem {
	width: 47.36842%;
	box-sizing: border-box;
}

.startnamespace .headerItem:first-child {
	margin-right: 5.26316%;
}

.startnamespace .headerItem a {
	text-decoration: none;
	color: var(--item-color, #333);
	font-weight: bold;
}

.startnamespace .header a img {
	margin-right: 0.49168em;
}

.startnamespace .logo {
	width: 230px;
	height: 64px;
}

.startnamespace .list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100%;
}

.startnamespace .list > li:first-child {
	margin-right: 20px;
}

/* 'sign in' button style */
.startnamespace .signIn {
	width: 90px;
	height: 40px;
	line-height: normal;
	background-color: white;
	border-color: #d5d5d5;
	outline: none;
	border-style: solid;
	padding: 10px 15px;
}

.startnamespace .signIn:hover,
.startnamespace .signIn:focus {
	border-color: black;
	color: black;
	font-weight: 700;
}

.startnamespace .signIn:active {
	background-color: lightgray;
}

.startnamespace .c-BarBottom {
	border-bottom: 2px solid #aaa;
}

@media screen and (min-width: 50em) {
	.startnamespace .header {
		padding: 2.03384em;
	}
}

@media screen and (max-width: 46em) {
	.startnamespace .hide {
		display: none;
	}
	
	.startnamespace .signIn {
		width: 75px;
		padding: 10px 10px;
	}
	
	.startnamespace .list > li:first-child {
		margin-right: 10px;
	}

	.startnamespace .logo {
		width: 130px;
		height: 45px;
	}
}

/* end styling the communitySiteHeader component */

/* start styling the communitySiteBody component */

.startnamespace .banner {
	margin: 0 auto;
	max-width: 48em;
	padding-top: 0.49168em;
}

.startnamespace .banner h1 {
	text-align: center;
	font-family: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif;
	font-weight: 700;
	margin: 0 0 0.52446em 0;
	font-size: 1.64062em;
	line-height: 1.5;
	color: var(--item-color, #333);
}

.startnamespace .slideContainer {
	overflow-x: hidden;
	width: 20em;
	margin: 0 auto;
	margin-bottom: 2.99563em;
	text-align: center;
}

.startnamespace .confirmButton {
    -webkit-appearance: none;
    background-color: var(--button-confirm-and-circle-bar, #008473);
    border: none;    
    border-radius: 5px;
    color: var(--item-color-secondary, #fff);
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 2em;
    font-weight: inherit;
    line-height: normal;
    margin: 1em auto;
    overflow: visible;
    padding: 0.49168em 1em;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    width: 100%;	
}


.startnamespace .confirmButton:hover,
.startnamespace .confirmButton:active,
.startnamespace .confirmButton:focus {
    outline: none;
    text-decoration: none;   
}

.startnamespace .confirmButton:hover {
    background-color: #007667;
    color: var(--item-color-secondary, #fff);
}

.startnamespace .confirmButton:active,
.startnamespace .confirmButton:focus {
    border: 2px solid black;
}

.startnamespace .disabled {
    background-color: var(--button-confirm-and-circle-bar, #008473);
    border: none;	
    color: var(--item-color-secondary, #fff);
    pointer-events: none;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";    
}

.startnamespace .buttonBack {
    background-color: transparent;
    border: 0;
    padding: 0;
    text-decoration: underline;
	margin: 0;
    color: #808080;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
}

.startnamespace .buttonBack:hover,
.startnamespace .buttonBack:active,
.startnamespace .buttonBack:focus {
    outline: none;
}

.startnamespace .buttonBack:focus {
	font-weight: 700;
}


@media screen and (max-width: 34.375em) {
	.startnamespace .banner h1 {
		font-size: 1.64062em;
	}
	
}

@media screen and (min-width: 34.375em) {
  	.startnamespace .confirmButton {
        	width: auto;
    	}  
}

@media screen and (min-width: 40em) {
	.startnamespace .slideContainer {
		width: 35em;
	}
}

@media screen and (min-width: 50em) {
	.startnamespace .slideContainer {
		width: 45em;
	}
}

@media screen and (min-width: 71em) {
	.startnamespace .slideContainer {
		width: 71em;
	}
}

/* end styling the communitySiteBody component */

/* start styling the communitySiteSVG component */

.startnamespace .slide {
	position: relative;
	padding: 0;
	margin: 0;	
	padding: 1em; 
	margin-bottom: 1.18813em;
	width: 20em;
}

.startnamespace .slideHeader {
	padding: 0;
	margin: 0 auto;
	margin-bottom: 1em;
	color: var(--item-color, #333);
	font-weight: 700;
	display: block;
}

.startnamespace .svgContainer {
	font-weight: 700;
	vertical-align: unset;
	background: #fff;
	border: 2px solid #333;
	color: var(--item-color, #333);
	display: inline-block;
	max-width: 8em;
	padding: 0.32681em;
	position: relative;
	-webkit-transform: scale(0.9);
	    transform: scale(0.9);
	-webkit-transition: background-color 0.2s ease-out, border-color 0.2s ease-out, border-radius 0.2s ease-out, color 0.2s ease-out,
		-webkit-transform 0.2s ease-out;
	transition: background-color 0.2s ease-out, border-color 0.2s ease-out, border-radius 0.2s ease-out, color 0.2s ease-out, -webkit-transform 0.2s ease-out;
	-webkit-transition: background-color 0.2s ease-out, border-color 0.2s ease-out, border-radius 0.2s ease-out, color 0.2s ease-out, -webkit-transform 0.2s ease-out;
	transition: background-color 0.2s ease-out, border-color 0.2s ease-out, border-radius 0.2s ease-out, color 0.2s ease-out, transform 0.2s ease-out;
	transition: background-color 0.2s ease-out, border-color 0.2s ease-out, border-radius 0.2s ease-out, color 0.2s ease-out, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
	transition: background-color 0.2s ease-out, border-color 0.2s ease-out, border-radius 0.2s ease-out, color 0.2s ease-out, transform 0.2s ease-out,
		-webkit-transform 0.2s ease-out;
	width: 100%;
	border: 2px solid #333;
	cursor: pointer;
}

.startnamespace .svgContainer svg {
	height: inherit;
	width: inherit;
	-webkit-transform: scale(0.9);
	    transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s ease-out;
	transition: -webkit-transform 0.2s ease-out;
	transition: transform 0.2s ease-out;
	transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
	fill: currentColor;
}

.startnamespace .svgContainer .caption {
	display: block;
	margin: 0 auto;
	padding: 0 0.32681em;
	text-align: center;
	-webkit-transition: background-color 0.2s ease-out, border-color 0.2s ease-out, color 0.2s ease-out, -webkit-transform 0.2s ease-out;
	transition: background-color 0.2s ease-out, border-color 0.2s ease-out, color 0.2s ease-out, -webkit-transform 0.2s ease-out;
	transition: background-color 0.2s ease-out, border-color 0.2s ease-out, color 0.2s ease-out, transform 0.2s ease-out;
	transition: background-color 0.2s ease-out, border-color 0.2s ease-out, color 0.2s ease-out, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.startnamespace .svgContainer .checked svg {
	fill: #333;
}

.startnamespace .svgContainer .checked .caption {
	color: var(--item-color-secondary, #fff);
}

.startnamespace .svgContainer:hover,
.startnamespace .svgContainer:focus {
	border-radius: 30px;
	-webkit-transform: scale(1);
	    transform: scale(1);
	z-index: 10;
}

.startnamespace .svgContainer:focus {
	outline: none;
}

.startnamespace .checked {
	color: var(--item-color-secondary, #fff);
	background: #333;
}

.startnamespace .spanBox {
	display: block;
}

@media screen and (min-width: 40em) {
	.startnamespace .slide {
		width: 35em;
	}

	.startnamespace .svgContainer {
		max-width: 13.4em;
		padding: 0.49168em 0.32681em;
		height: 13em;
		padding-bottom: 13em;
	}

	.startnamespace .svgContainer .caption {
		color: var(--item-color, #333);
		background: #fff;
		border: 2px solid #333;
		border-radius: 5px;
		bottom: -10%;
		left: 0;
		position: absolute;
		right: 0;
		width: 7.8em;
	}

	.startnamespace .svgContainer:hover,
	.startnamespace .svgContainer:focus {
		-webkit-transform: scale(1.1);
		    transform: scale(1.1);
	}

	.startnamespace .svgContainer:hover .caption,
	.startnamespace .svgContainer:focus .caption {
		-webkit-transform: scale(1.3);
		    transform: scale(1.3);
		background: #333;
		border-color: #fff;
		color: var(--item-color-secondary, #fff);
	}

	.startnamespace .svgContainer:hover svg,
	.startnamespace .svgContainer:focus svg {
		-webkit-transform: scale(1.1) translateY(-1em);
		    transform: scale(1.1) translateY(-1em);
	}

	.startnamespace .checked .caption {
		background: #333;
		border-color: #fff;
		color: var(--item-color-secondary, #fff);
	}
}

@media screen and (min-width: 50em) {
	.startnamespace .slide {
		width: 45em;
	}
}

@media screen and (min-width: 71em) {
	.startnamespace .slide {
		width: 71em;
	}
}

/* end styling the communitySiteSVG component */

/* start styling the communitySiteOptions component */

.startnamespace .option {
	background: #fff;
	color: var(--item-color, #333);
	display: block;
	margin: 0 auto 0.49168em;
	max-width: 20em;
	padding: 1em 2.03384em;
	text-align: left;
	-webkit-transition: background-color 0.2s ease-out, border-color 0.2s ease-out, border-radius 0.2s ease-out, color 0.2s ease-out,
		-webkit-transform 0.2s ease-out;
	transition: background-color 0.2s ease-out, border-color 0.2s ease-out, border-radius 0.2s ease-out, color 0.2s ease-out, -webkit-transform 0.2s ease-out;
	-webkit-transition: background-color 0.2s ease-out, border-color 0.2s ease-out, border-radius 0.2s ease-out, color 0.2s ease-out, -webkit-transform 0.2s ease-out;
	transition: background-color 0.2s ease-out, border-color 0.2s ease-out, border-radius 0.2s ease-out, color 0.2s ease-out, transform 0.2s ease-out;
	transition: background-color 0.2s ease-out, border-color 0.2s ease-out, border-radius 0.2s ease-out, color 0.2s ease-out, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
	transition: background-color 0.2s ease-out, border-color 0.2s ease-out, border-radius 0.2s ease-out, color 0.2s ease-out, transform 0.2s ease-out,
		-webkit-transform 0.2s ease-out;
	border: 2px solid #333;
	cursor: pointer;
	outline: none;
}

.startnamespace .option:focus,
.startnamespace .option:hover {
	background: #333;
	border-color: #fff;
	border-radius: 30px;
	color: var(--item-color-secondary, #fff);
	-webkit-transform: scale(1.1);
	    transform: scale(1.1);
	z-index: 10;
}

.startnamespace .option:focus .circle,
.startnamespace .option:hover .circle {
	background: #fff;
}

.startnamespace .circle {
	border: 2px solid #333;
	background: transparent;
	border-radius: 50%;
	display: inline-block;
	height: 0.8em;
	margin-right: 0.49168em;
	-webkit-transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
	transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
	width: 0.8em;
}

.startnamespace .option.checked {
	background: #333;
	border-color: #fff;
	border-radius: 30px;
	color: var(--item-color-secondary, #fff);
}

.startnamespace .checked:hover .circle,
.startnamespace .checked:focus .circle,
.startnamespace .checked .circle {
	border-color: #fff;
	background: #333;
}

/* end styling the communitySiteOptions component */

/* start styling the communitySiteField and communitySiteAgreement component */

.startnamespace .fieldContainer {
	margin-bottom: 1em;
	z-index: 1;
	background-color: #fff;
	border-color: #5a5a5a;
}

.startnamespace .fieldContainer label {
	margin-bottom: 1em;
	font-weight: 700;
	display: block;
}

.startnamespace .inputField {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 100%;
	line-height: inherit;
	padding: 0;
	background: none;
	display: block;
	padding: 0.3em;
	border: 2px solid #5a5a5a;
	border-radius: 5px;
	margin-bottom: 0.3em;
	-webkit-transition: outline 0.3s;
	transition: outline 0.3s;
	background-color: #fff;
	margin: 0 auto;
	max-width: 20em;
	width: 100%;
}

.startnamespace .inputField:active,
.startnamespace .inputField:focus {
	cursor: text;
	border-width: 3px;
}

.startnamespace .errorMessage {
	background-color: #fff;
	color: var(--error-message-color, #c8102f);
	margin-bottom: 1em;
	margin-top: 1em;
}

/* end styling the communitySiteField and communitySiteAgreement component */


/* start styling the communitySiteAgreement component */

.helpContainer {
	width: 100%;
}


.startnamespace .helpRow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	    justify-content: center;
	padding: 16px;
	padding: 1rem;
}


.startnamespace .helpCriteria {
	color: #404040;
	line-height: 16px;
	line-height: 1rem;
}


.startnamespace .helpCriteria svg {
	fill: #404040;
	margin-left: 16px;
	margin-left: 1rem;
	margin-right: 4px;
	width: 16px;
	height: 16px;
	position: relative;
	top: -2px;
}


.startnamespace .success {
	color: var(--button-confirm-and-circle-bar, #008473);
}


.startnamespace .success svg {
	fill: var(--button-confirm-and-circle-bar, #008473);
}


.startnamespace .agreementContainer {
	margin-bottom: 1em;
	background: #f7f7f7;
	border-radius: 3px;
	color: var(--item-color, #333);
	margin: auto;
	padding: 8px;
	padding: 0.5rem;
	width: 50%;
}


.startnamespace .agreementContainer:last-child {
	background-color: transparent;
}


.startnamespace .confirmation {
	margin-bottom: 1em;
}


.startnamespace .confirmation:last-child {
	margin-bottom: 0;
}


.startnamespace .confirmation label {
	margin-bottom: 1em;
	font-weight: 700;
}


.startnamespace input[type='checkbox'] {
	box-sizing: border-box;
	padding: 0;
	margin-right: 5px;
}


.startnamespace small {
	margin: 16px;
	margin: 1rem;
	text-align: left;
	font-size: 80%;
	display: block;
}

@media (max-width: 700px) {
	
	startnamespace .agreementContainer {
		width: 80%;
	}
}

@media (max-width: 500px) {
	
	.startnamespace .agreementContainer {
		width: 90%;
	}
}
	

/* end styling the communitySiteAgreement component */

/*  start styling the communitySiteVerify component  */

.startnamespace .verifyContainer {
	max-width: 35em;
	overflow-x: hidden;	
	margin: 0 auto;
	margin-bottom: 2.99563em !important;
	text-align: center;
	font-family: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

.startnamespace .verifySlide {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	padding: 1em !important;
	margin-bottom: 1.18813em;
}

.startnamespace .verifyHeader {
	padding: 0;
	margin: 0 auto;
	margin-bottom: 2em;
	color: var(--item-color, #333);
	font-weight: 700;
	font-size: 2em;
	display: block;
}

.startnamespace .verifyHeader.firstHeader {
	margin-bottom: 0;
}

.startnamespace .verifyContent img {
	display: block;
	margin: 0 auto;
	margin-bottom: 3em;
	border-radius: 50%;
	width: 10em;
	height: 10em;
}

.startnamespace .verifyContent .imgBorder {
	border: 2px solid var(--button-confirm-and-circle-bar, #008473);
}


.startnamespace .verifyTextContainer {
	margin-bottom: 1.5em;
	line-height: 2em;
}
.startnamespace .verifyTextContainer span {
	font-weight: 700;
	text-decoration: underline;
	-webkit-text-decoration-color: #b8b8b8;
	        text-decoration-color: #b8b8b8;
}

.startnamespace .verifyTextContainer a {
	text-decoration: underline;
	-webkit-text-decoration-color: #b8b8b8;
	        text-decoration-color: #b8b8b8;
	font-weight: 700;
	color: var(--item-color, #333);
}

.startnamespace .verifyTextContainer .buttonLink {
	-webkit-text-decoration-color: var(--item-color, #333);
	        text-decoration-color: var(--item-color, #333);
	font-size: 85%;
}

.startnamespace .verifyContainer .verifyButton {
	font-size: 1em;
	margin-bottom: 2em;
	padding: 0.8em 1em;
	width: 100%;
}

@media screen and (min-width: 40em) {
	.startnamespace .verifyContent img {
		width: 15em;
		height: 15em;
	}
}

@media screen and (min-width: 50em) {
	.startnamespace .verifyContent img {
		width: 20em;
		height: 20em;
	}
}

@media screen and (min-width: 71em) {
	.startnamespace .verifyContent img {
		width: 25em;
		height: 25em;
	}
}
/* end styling the communitySiteVerify component */

/* start styling the circleBar component */

.startnamespace .c-ProgressPie {
	height: 120px;
	height: 7.5rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: -60px;
	margin-top: -3.75rem;
	width: 120px;
	width: 7.5rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	    align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	    justify-content: center;
	margin-top: 0;
}

.startnamespace .c-ProgressPie__progress {
	-webkit-transform: rotate(-90deg);
	    transform: rotate(-90deg);
	z-index: -1;
	stroke: var(--button-confirm-and-circle-bar, #008473);
}

.startnamespace .c-ProgressPie__value {
	stroke: var(--button-confirm-and-circle-bar, #008473);
	stroke-dasharray: 339.29200658769764;
	stroke-dashoffset: 339.29200658769764;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.startnamespace .c-ProgressPie__value--slide0 {
	-webkit-animation: slide0 2s forwards;
	        animation: slide0 2s forwards;
	stroke-dashoffset: 288.39820559954296;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.startnamespace .c-ProgressPie__value--slide1 {
	-webkit-animation: slide1 2s forwards;
	        animation: slide1 2s forwards;
	stroke-dashoffset: 306.0;
}

.startnamespace .c-ProgressPie__value--slide2 {
	-webkit-animation: slide2 2s forwards;
	        animation: slide2 2s forwards;
	stroke-dashoffset: 265.0;
}

.startnamespace .c-ProgressPie__value--slide3 {
	-webkit-animation: slide3 2s forwards;
	        animation: slide3 2s forwards;
	stroke-dashoffset: 229.0;
}

.startnamespace .c-ProgressPie__value--slide4 {
	-webkit-animation: slide4 2s forwards;
	        animation: slide4 2s forwards;
	stroke-dashoffset: 193.0;
}

.startnamespace .c-ProgressPie__value--slide5 {
	-webkit-animation: slide5 2s forwards;
	        animation: slide5 2s forwards;
	stroke-dashoffset: 175.0;
}

.startnamespace .c-ProgressPie__value--slide6 {
	-webkit-animation: slide6 2s forwards;
	        animation: slide6 2s forwards;
	stroke-dashoffset: 157.0;
}

.startnamespace .c-ProgressPie__value--slide7 {
	-webkit-animation: slide5 2s forwards;
	        animation: slide5 2s forwards;
	stroke-dashoffset: 139.0;
}

.startnamespace .c-ProgressPie__value--slide8 {
	-webkit-animation: slide6 2s forwards;
	        animation: slide6 2s forwards;
	stroke-dashoffset: 103.0;
}

.startnamespace .c-ProgressPie__value--slide9 {
	-webkit-animation: slide7 2s forwards;
	        animation: slide7 2s forwards;
	stroke-dashoffset: 67.0;
}

.startnamespace .c-ProgressPie__text {
	font-family: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif;
	font-weight: 700;
	margin: 0 0 0.52446em 0;
	font-size: 1.64062em;
	line-height: 1.5;
	text-anchor: middle;
	background-color: #fff;
	position: absolute;
	color: var(--button-confirm-and-circle-bar, #008473);
	margin-bottom: 0 !important;
}

.startnamespace .c-ProgressPie__icon {
	fill: var(--button-confirm-and-circle-bar, #008473);
}

@media screen and (max-width: 46em) {
	.startnamespace .c-ProgressPie {
		margin-top: 1.75rem;
	}
}

/* end styling the circleBar component */