<template>
	<div class="verifyContainer">
		<div class="verifySlide">
			<label class="verifyHeader firstHeader">Success!</label>
			<label class="verifyHeader">Your account is all set up.</label>
			<div class="verifyContent">
				<img class="imgBorder" src={imgURL} />
				<div class="verifyTextContainer">
					<button class="confirmButton verifyButton" onclick={goNext}>Continue</button>
					<a href="/" class="buttonLink" target="_blank">Terms Of Use</a>
				</div>
			</div>
		</div>
	</div>
</template>