<template>
	<div class="verifyContainer">
		<div class="verifySlide">
			<label class="verifyHeader">Please Verify Your Email Address</label>
			<div class="verifyContent">
				<img src={imgURL} />

				<div class="verifyTextContainer">
					We've sent you an email from <span>no-reply@Ready2FundAccount.com</span> so we can verify email address. Just click the button in the email to finish
					creating your account. If you don't recieve the email, please check your spam or junk folder.
				</div>

				<div class="verifyTextContainer">Didn't get the email? <a href="#" onclick={resendEmail}>Resend it now</a></div>

				<div class="verifyTextContainer">
					<a href="#" class="buttonLink">Terms Of Use</a>
				</div>
			</div>
		</div>
	</div>
</template>