<template>      
    <template if:true={slider.refinance}>
        <c-community-application-refinance-question application-id={applicationId} max-index-page={maxIndexPage}></c-community-application-refinance-question>   
    </template>   
    <template if:true={slider.mortgage}>
        <c-community-application-current-mortgage application-id={applicationId} max-index-page={maxIndexPage}></c-community-application-current-mortgage>
    </template>   
    <template if:true={slider.homeOne}>
        <c-community-application-home-info-one application-id={applicationId} max-index-page={maxIndexPage}></c-community-application-home-info-one> 
    </template>   
    <template if:true={slider.homeTwo}>
        <c-community-application-home-info-two application-id={applicationId} max-index-page={maxIndexPage}></c-community-application-home-info-two>  
    </template>    
    <template if:true={slider.loan}>
        <c-community-application-loan-question application-id={applicationId} max-index-page={maxIndexPage}></c-community-application-loan-question> 
    </template> 
    <template if:true={slider.income}>
        <c-community-application-income-question application-id={applicationId} max-index-page={maxIndexPage}></c-community-application-income-question> 
    </template>    
    <template if:true={slider.goverment}>
        <c-community-application-government-questions application-id={applicationId} max-index-page={maxIndexPage}></c-community-application-government-questions> 
    </template>   
    <template if:true={slider.credit}>
        <c-community-application-credit-question application-id={applicationId} max-index-page={maxIndexPage}></c-community-application-credit-question> 
    </template>  
    <template if:true={slider.solution}>
        <c-community-application-refinance-solution application-id={applicationId} max-index-page={maxIndexPage}></c-community-application-refinance-solution>
    </template>   
    <template if:true={slider.files}>
        <c-community-application-upload-files application-id={applicationId} max-index-page={maxIndexPage}></c-community-application-upload-files>
    </template>    
</template>