<template>
	<template if:true={isReadyData}>
		<div class="question">
			<div class="borderMark"></div>
			<h1>Refinance Purpose</h1>
			<p>Thanks for letting us help with your financial goals!</p>
			<p>
				After confirming your refinance purpose, tell us about you and you home. If it looks like a refinance makes sense for you, you'll get customized rates and
				options so you can make smart decisions.
			</p>
	
			<div class="formContainer">
				<h3>What's the main reason you want to refinance?</h3>
				<div class="item" onclick={selectItem} data-name="Lower Monthly Payment">
					<svg>
						<use xlink:href={svgURL}></use>
					</svg>
					<h4>Lower My Monthly Mortgage Payment</h4>
					<p>You may be able to lower your mortgage payment with a lower interest rate or different term (the length of your mortgage).</p>
				</div>
				<div class="item" onclick={selectItem} data-name="Pay off Mortgage Faster">
					<svg>
						<use xlink:href={svgURL}></use>
					</svg>
					<h4>Pay Off My Mortgage Faster</h4>
					<p>To pay off your mortgage faster, you shorten the term (length) of your mortgage. Your mortgage payment goes up, but you pay less interest.</p>
				</div>
				<div class="item" onclick={selectItem} data-name="Take Cash out of Home">
					<svg>
						<use xlink:href={svgURL}></use>
					</svg>
					<h4>Take Cash Out Of My Home</h4>
					<p>
						Use the difference between what you owe on your mortgage and your home's value to take cash out. You decide how to spend it: credit card debt, college
						tuition, home improvement, a vacation home, whatever you want.
					</p>
				</div>
			</div>
	
			<button class="confirmButton" onclick={saveApplication}>Save & Continue</button>
		</div>
	</template>
</template>