/*
 	These styles use on 'Sign in' and 'Forgot password' pages
*/

.siginnamespace .slideContainer {
	max-width: 35em;
	overflow-x: hidden;	
	margin: 0 auto;
	padding: 0;
	margin-bottom: 2.99563em !important;
	text-align: center;
	font-family: RocketSans, Helvetica, 'Helvetica Neue', Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

.siginnamespace .fpMarginTop {
	margin-top: 15em;
}

.siginnamespace .siMarginTop {
	margin-top: 10em;
}

@media screen and (max-width: 540px) {
	.siginnamespace .siMarginTop,
	.siginnamespace .fpMarginTop {
		margin-top: 3em;
	}
}

.siginnamespace .headerItem {
	margin-bottom: 2em;
}

.siginnamespace .slide {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	padding: 1em !important;
	margin-bottom: 1.18813em;
}

.siginnamespace .last {
	margin-bottom: 1em;
}

.siginnamespace .slideHeader {
	padding: 0;
	margin: 0 auto;
	margin-bottom: 2em;
	color: #333;
	font-weight: 700;
	font-size: 1.5em;
	display: block;
}

.siginnamespace .fieldContainer {
	margin-bottom: 1.5em;
	z-index: 1;
	background-color: #fff;
	border-color: #5a5a5a;
}

.siginnamespace .fieldContainer label {
	margin-bottom: 0.2em;
	font-weight: 700;
	font-size: 90%;
	display: block;
	text-align: start;
}

.siginnamespace .fieldContainer label a {
	position: absolute;
	right: 20px;
	color: #008473;
	text-decoration: underline;
	text-decoration-color: #b8b8b8;
}

.siginnamespace .fieldContainer label a:hover {
	color: #b8b8b8;
}

.siginnamespace .statusOk {
	border: 2px solid #226e58;
	padding: 12px 20px 12px 20px;
	display: flex;
	align-items: center;
	background-color: #eafdfa;
	margin-bottom: 2.5em;
}

.siginnamespace .verifyMessage {
	width: 100%;
	margin: 0 auto;
	text-align: start;
	padding: 0 10px 0 15px;
}

.siginnamespace .statusOk svg {
	width: 35px;
	fill: #008473;
}

.siginnamespace .svgClose {
	cursor: pointer;
}

.siginnamespace .helpInformation {
	margin-top: 5px;
	font-size: 90%;
	text-align: start;
}

.siginnamespace .showPass {
	display: block;
	margin-top: 5px;
	font-size: 90%;
	text-align: start;
	cursor: pointer;
}

.siginnamespace .showPass input[type='checkbox'] {
	position: relative;
	top: 2px;
	margin-right: 10px;
	cursor: pointer;
}

.siginnamespace .inputField {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 100%;
	line-height: inherit;
	padding: 0;
	background: none;
	display: block;
	padding: 0.3em;
	border: 2px solid #c7c4c4;
	border-radius: 5px;
	margin-bottom: 0.3em;
	-webkit-transition: outline 0.3s;
	transition: outline 0.3s;
	background-color: #fff;
	margin: 0 auto;
	max-width: 35em;
	width: 100%;
}

.siginnamespace .inputField:active,
.siginnamespace .inputField:focus {
	cursor: text;
}

.siginnamespace .succcesMessage,
.siginnamespace .errorMessage {
	margin-bottom: 1em;
	margin-top: 1em;
}

.siginnamespace .errorMessage {
	color: #c8102f;
}

.siginnamespace .succcesMessage {
	color: #008473;
}

.siginnamespace .confirmButton {
	-webkit-appearance: none;
	background-color: #008473;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-family: inherit;
	font-size: 1em;
	font-weight: inherit;
	line-height: normal;
	margin: 1em auto;
	margin-bottom: 2em;
	overflow: visible;
	padding: 0.8em 1em;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	width: 100%;
}

.siginnamespace .confirmButton:hover,
.siginnamespace .confirmButton:active {
    outline: none;
    text-decoration: none;   
}

.siginnamespace .confirmButton:hover {
    background-color: #007667;
    color: #fff;
}

.siginnamespace .confirmButton:active {
    border: 2px solid black;
}

.siginnamespace .buttonLink {
	display: block;
	margin: 0 auto;
	color: #333;
	text-decoration: underline;
	font-weight: 700;
	margin-bottom: 0.4em;
	font-size: 0.8em;
}

.siginnamespace .buttonLink:hover {
	color: #b8b8b8;
}