/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * myriad-pro:
 *   - http://typekit.com/eulas/00000000000000000001709e
 *   - http://typekit.com/eulas/00000000000000000001709a
 * quatro-slab:
 *   - http://typekit.com/eulas/00000000000000003b9afc0c
 *   - http://typekit.com/eulas/00000000000000003b9afc12
 *
 * © 2009-2021 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-06-21 20:45:09 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=yqx3kpc&ht=tk&f=6846.6851.16466.16468&a=502204&app=typekit&e=css");

@font-face {
font-family:"myriad-pro";
src:url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/a?subset_id=2&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"myriad-pro";
src:url("https://use.typekit.net/af/cafa63/00000000000000000001709a/27/l?subset_id=2&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/cafa63/00000000000000000001709a/27/d?subset_id=2&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/cafa63/00000000000000000001709a/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"quatro-slab";
src:url("https://use.typekit.net/af/bb078e/00000000000000003b9afc0c/27/l?subset_id=2&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/bb078e/00000000000000003b9afc0c/27/d?subset_id=2&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/bb078e/00000000000000003b9afc0c/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"quatro-slab";
src:url("https://use.typekit.net/af/97f3cc/00000000000000003b9afc12/27/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/97f3cc/00000000000000003b9afc12/27/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/97f3cc/00000000000000003b9afc12/27/a?subset_id=2&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

.tk-myriad-pro { font-family: "myriad-pro",sans-serif; }
.tk-quatro-slab { font-family: "quatro-slab",serif; }
