<template>
	<header class="header" role="banner">
		<div class="headerItem">
			<a href="https://ready2found-developer-edition.na156.force.com/Ready2Found/s/" aria-label="Ready2Fund">
				<img class="logo" src={logoURL} width="230" height="64" />
			</a>
		</div>

		<div class="headerItem">
			<ul class="list" data-test="contacts">
				<li>
					<a aria-label="telephone link" href="tel:1-888-452-8179" id="telLink">
						<img height="32" width="32" src={phoneURL} />
						<span class="hide"> (888) 452-8179 </span>
					</a>
				</li>
				<li>
					<button class="signIn" onclick={signIn}>Sign In</button>
				</li>
			</ul>
		</div>
	</header>
	<div class="c-BarBottom"></div>
</template>