<template>
	<div class="question">
		<div class="borderMark"></div>
		<h1>Government Questions</h1>

		<div class="formContainer">
			<div class="questionItem">
				<h3>Declaration Questions</h3>

				<c-community-application-dual-choice
					label={isOutstandingJudgmentsLabel}
					default-value={isOutstandingJudgments}
					action-name="changeisoutstandingjudgments"
					variable-name="isOutstandingJudgments"
					onchangeisoutstandingjudgments={setAnswers}
				></c-community-application-dual-choice>

				<c-community-application-dual-choice
					label={isDeclaredBankruptcyLabel}
					default-value={isDeclaredBankruptcy}
					action-name="changeisdeclaredbankruptcy"
					variable-name="isDeclaredBankruptcy"
					onchangeisdeclaredbankruptcy={setAnswers}
				></c-community-application-dual-choice>

				<label
					>In the last 7 years, have you owned a home that ended in foreclosure, a short sale or pre-foreclosure, or conveyed title in lieu of foreclosure? Select
					all that apply.
					<ul class="foreclosuresTypes">
						<li>
							<template if:true={foreclosuresTypes.foreclosure.isSelected}>
								<label><input type="checkbox" onchange={setForeclosureTypes} data-name="foreclosure" checked />{foreclosuresTypes.foreclosure.title}</label>
							</template>
							<template if:false={foreclosuresTypes.foreclosure.isSelected}>
								<label><input type="checkbox" onchange={setForeclosureTypes} data-name="foreclosure" />{foreclosuresTypes.foreclosure.title}</label>
							</template>
						</li>
						<li>
							<template if:true={foreclosuresTypes.shortSale.isSelected}>
								<label><input type="checkbox" onchange={setForeclosureTypes} data-name="shortSale" checked />{foreclosuresTypes.shortSale.title}</label>
							</template>
							<template if:false={foreclosuresTypes.shortSale.isSelected}>
								<label><input type="checkbox" onchange={setForeclosureTypes} data-name="shortSale" />{foreclosuresTypes.shortSale.title}</label>
							</template>
						</li>
						<li>
							<template if:true={foreclosuresTypes.conveyed.isSelected}>
								<label><input type="checkbox" onchange={setForeclosureTypes} data-name="conveyed" checked />{foreclosuresTypes.conveyed.title}</label>
							</template>
							<template if:false={foreclosuresTypes.conveyed.isSelected}>
								<label><input type="checkbox" onchange={setForeclosureTypes} data-name="conveyed" />{foreclosuresTypes.conveyed.title}</label>
							</template>
						</li>
						<li>
							<template if:true={foreclosuresTypes.noneApply.isSelected}>
								<label><input type="checkbox" onchange={setForeclosureTypes} data-name="noneApply" checked />{foreclosuresTypes.noneApply.title}</label>
							</template>
							<template if:false={foreclosuresTypes.noneApply.isSelected}>
								<label><input type="checkbox" onchange={setForeclosureTypes} data-name="noneApply" />{foreclosuresTypes.noneApply.title}</label>
							</template>
						</li>
					</ul>
				</label>

				<c-community-application-dual-choice
					label={isInvolvedInLawsuitLabel}
					default-value={isInvolvedInLawsuit}
					action-name="changeisinvolvedinlawsuit"
					variable-name="isInvolvedInLawsuit"
					onchangeisinvolvedinlawsuit={setAnswers}
				></c-community-application-dual-choice>

				<c-community-application-dual-choice
					label={isDelinquentDebtLabel}
					default-value={isDelinquentDebt}
					action-name="changeisdelinquentdebt"
					variable-name="isDelinquentDebt"
					onchangeisdelinquentdebt={setAnswers}
				></c-community-application-dual-choice>

				<c-community-application-dual-choice
					label={isBorrowingMoneyLabel}
					default-value={isBorrowingMoney}
					action-name="changeisborrowingmoney"
					variable-name="isBorrowingMoney"
					onchangeisborrowingmoney={setAnswers}
				></c-community-application-dual-choice>

				<c-community-application-dual-choice
					label={isGuarantorDebtLabel}
					default-value={isGuarantorDebt}
					action-name="changeisguarantordebt"
					variable-name="isGuarantorDebt"
					onchangechangeisguarantordebt={setAnswers}
				></c-community-application-dual-choice>

				<c-community-application-dual-choice
					label={isUSCitizenLabel}
					default-value={isUSCitizen}
					action-name="changeisuscitizen"
					variable-name="isUSCitizen"
					onchangeisuscitizen={setAnswers}
				></c-community-application-dual-choice>

				<c-community-application-dual-choice
					label={isAlimonyChildSupportLabel}
					default-value={isAlimonyChildSupport}
					action-name="changeisalimonychildsupport"
					variable-name="isAlimonyChildSupport"
					onchangeisalimonychildsupport={setAnswers}
				></c-community-application-dual-choice>

                <template if:true={isAlimonyChildSupport}>

                    <template for:each={alimonies} for:item="item" for:index="index">
                        <c-community-application-alimony-info
                            key={item.key} 
                            index={index}
                            alimony-info={item}
                            ondeletealimony={deleteAlimony}
                            onnewalimony={updateAlimonyObject}>
                        </c-community-application-alimony-info>
                    </template>
                    
                    <div class="addButton" onclick={addAlymony}>                
                        <svg 
                            viewBox="0 0 512 512"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path d="m256 512c-141.164062 0-256-114.835938-256-256s114.835938-256 256-256 256 114.835938 256 256-114.835938 256-256 256zm0-480c-123.519531 0-224 100.480469-224 224s100.480469 224 224 224 224-100.480469 224-224-100.480469-224-224-224zm0 0"></path>
                            <path d="m368 272h-224c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h224c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"></path>
                            <path d="m256 384c-8.832031 0-16-7.167969-16-16v-224c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v224c0 8.832031-7.167969 16-16 16zm0 0"></path>
                        </svg> Add Another Payment
                    </div>
                </template>

				<c-community-application-dual-choice
					label={isPrimaryResidenceLabel}
					default-value={isPrimaryResidence}
					action-name="changeisprimaryresidence"
					variable-name="isPrimaryResidence"
					onchangeisprimaryresidence={setAnswers}
				></c-community-application-dual-choice>

				<template if:true={isShowOwnershipQuestion}>
					<c-community-application-dual-choice
						label={isOwnershipLastYearsLabel}
						default-value={isOwnershipLastYears}
						action-name="changeisownershiplastyears"
						variable-name="isOwnershipLastYears"
						onchangeisownershiplastyears={setAnswers}
					></c-community-application-dual-choice>
				</template>

				<c-community-application-dual-choice
					label={isMortgageDifferentPropertyLabel}
					default-value={isMortgageDifferentProperty}
					action-name="changeismortgagedifferentproperty"
					variable-name="isMortgageDifferentProperty"
					oncchangeismortgagedifferentproperty={setAnswers}
				></c-community-application-dual-choice>

				<c-community-application-dual-choice
					label={isOpenNewLineLabel}
					default-value={isOpenNewLine}
					action-name="changeisopennewline"
					variable-name="isOpenNewLine"
					onchangeisopennewline={setAnswers}
				></c-community-application-dual-choice>
			</div>
		</div>

		<h2>Government Monitoring Questions</h2>
		<p>Answering the following questions is optional. We are required to ask them to comply with federal lending laws.</p>

		<c-community-application-choose-option
			options={ethnicities}
			header="Ethnicit"
			action-name="setethnicit"
			onsetethnicit={setEthnicit}
			none-all={noneAllEthnicities}
		></c-community-application-choose-option>

        <c-community-application-choose-option
			options={races}
			header="Race"
			action-name="setrace"
			onsetrace={setRace}
			none-all={noneAllRaces}
		></c-community-application-choose-option>

		<c-community-application-choose-option
			options={genders}
			header="Gender"
			action-name="setgender"
			onsetgender={setGender}
			none-all={noneAllGenders}
		></c-community-application-choose-option>		

		<button class="confirmButton" onclick={saveGovernmentQuestion}>Save & Continue</button>
	</div>
</template>