<template>
    <div class="question">
        <div class="borderMark"></div>
            <h1>Who's On The Loan</h1>
            <p>Are you refinancing with someone who's not your spouse? Finish applying with just your info. We'll get info about the other person later by chat or phone.</p>

            <div class="formContainer">
                <div class="questionItem">

                    <c-community-application-dual-choice
                        label={isMarriedLabel}
                        default-value={isMarried}
                        action-name="changeismarried"
                        variable-name="isMarried"
                        onchangeismarried={setAnswers}
                    ></c-community-application-dual-choice>
                
                    <template if:true={isMarried}>
                        <c-community-application-dual-choice
                            label={isSpouseOnLoanLabel}
                            default-value={isSpouseOnLoan}
                            action-name="changeisspouseonloan"
                            variable-name="isSpouseOnLoan"
                            onchangeisspouseonloan={setAnswers}
                        ></c-community-application-dual-choice>
                    </template>

                    <template if:true={isSpouseOnLoan}>

                        <label>First Name
                            <input class="textImput" type="text" oninput={setDataField} data-name="firstName"/>
                        </label>

                        <label>Last Name
                            <input class="textImput" type="text" oninput={setDataField} data-name="lastName"/>
                        </label>

                        <label>Email
                            <input class="textImput" type="text" oninput={setDataField} data-name="email"/>
                        </label>

                        <c-community-application-dual-choice
                            label={isMilitaryLabel}
                            default-value={isMilitary}
                            action-name="changeismilitary"
                            variable-name="isMilitary"
                            onchangeismilitary={setAnswers}
                        ></c-community-application-dual-choice>
                    </template>

                </div>
            </div>

		<button class="confirmButton" onclick={saveLoanInfo}>Save & Continue</button>
	</div>
</template>