<template>
	<div class="progressText">
		<span>Step {currentPage} of 9</span>
		<a href="#" onclick={showProgressBar}>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				<g data-name="Layer 2">
					<g data-name="chevron-down">
						<rect width="24" height="24" opacity="0"></rect>
						<path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
					</g>
				</g>
			</svg>
		</a>
	</div>
	<div class="stepsContainer">
		<ul class="steps">
			<template for:each={steps} for:item="step" for:index="index">
				<li key={step.key} class={step.className} onclick={selectStep} data-index={index}>
					<div class="step_icon"></div>
					<div class="step_text">
						<span>{step.name}</span>
					</div>
				</li>
			</template>
        </ul>
	</div>
</template>