<template>
	<div class="slide">
		<label class="slideHeader">{assets.header}</label>
		<div class="content">
			<div class="helpContainer">
				<div class="helpRow">
					<div class={upper} data-criteria-check="1Uper">
						<svg>
							<use xlink:href={assets.svgURL}></use>
						</svg>

						Contains 1 Uppercase Letter
					</div>
					<div class={lower} data-criteria-check="1Lower">
						<svg>
							<use xlink:href={assets.svgURL}></use>
						</svg>

						Contains 1 Lowercase Letter
					</div>
				</div>
				<div class="helpRow">
					<div class={num} data-criteria-check="1Num">
						<svg>
							<use xlink:href={assets.svgURL}></use>
						</svg>

						Contains 1 Number
					</div>
					<div class={length} data-criteria-check="8Chars">
						<svg>
							<use xlink:href={assets.svgURL}></use>
						</svg>

						At Least 8 Characters Long
					</div>
				</div>
			</div>

			<template for:each={assets.options} for:item="opt" for:index="index">
				<div class="fieldContainer" key={opt.key}>
					<label for={opt.key}>{opt.caption}</label>
					<input maxlength="50" class="inputField" id={opt.key} placeholder="" value={opt.value} type={opt.type} oninput={typeOn} data-index={index} />

					<template if:true={opt.isEmpty}>
						<div class="errorMessage">{opt.emptyErrorMessage}</div>
					</template>
					<template if:true={opt.hasError}>
						<div class="errorMessage">{opt.errorMessage}</div>
					</template>
				</div>
			</template>

			<div class="agreementContainer">
				<div class="confirmation">
					<label for="PrivacyConsent_Purch">
						<input id="PrivacyConsent_Purch" type="checkbox" onchange={clickCheckbox} />
						I agree that my data can be used for the purposes noted below.
					</label>
				</div>

				<div class="confirmation">
					<small>
						Sharing your data lets you leverage the expertise of our entire network of partners. That means you get the best advice and tools we have to offer across
						Ready2Fund. <a href="#" target="_blank">See how this gives you a smarter experience.</a>
					</small>
					<small>
						By checking the box, you agree that we can share your personal data and contact info with third parties like our
						<a href="#" target="_blank"> mortgage partners, partner companies and affiliates.</a> You also agree that these parties can use your personal data and
						contact info for marketing and analytic purposes and to improve your experience.
					</small>
					<small>
						To opt out, just uncheck the box. If you give it a try and want to opt out later, you can call us at <a href="tel:1-888-444-7492">(888) 444-7492</a>.
					</small>
				</div>
			</div>
			<div class="agreementContainer">
				<div class="confirmation">
					<small>
						By creating an account, you’re agreeing to our <a href="#" target="_blank">Terms of Use and our Security And Privacy Policy,</a> which includes using
						arbitration to resolve claims related to the Telephone Consumer Protection Act.
					</small>
				</div>
				<template if:true={assets.isStandartServerError}>
					<div class="errorMessage">{assets.serverErrorMessage}</div>
				</template>
				<template if:true={assets.isError}>
					<div class="errorMessage">An error occurred while submitting your request, please contact us or try again.</div>
				</template>
			</div>
		</div>
	</div>
</template>