<template>
	<div class="slide">
		<label class="slideHeader">{assets.header}</label>
		<div class="content">
			<template for:each={assets.options} for:item="opt" for:index="index">
				<template if:true={opt.selected}>
					<label class="svgContainer checked" key={opt.key} data-index={index}>
						<svg>
							<use xlink:href={opt.svgURL}></use>
						</svg>
						<span class="caption">
							{opt.caption.one}
							<lightning-formatted-rich-text class="spanBox" value={opt.caption.two}></lightning-formatted-rich-text>
						</span>
					</label>
				</template>
				<template if:false={opt.selected}>
					<label class="svgContainer" key={opt.key} onclick={selectOption} onkeydown={pressKey} data-index={index} tabindex="0">
						<svg>
							<use xlink:href={opt.svgURL}></use>
						</svg>
						<span class="caption">
							{opt.caption.one}
							<lightning-formatted-rich-text class="spanBox" value={opt.caption.two}></lightning-formatted-rich-text>
						</span>
					</label>
				</template>
			</template>
		</div>
	</div>
</template>