<template>
	<template if:false={isShowSpinner}>
		<div class="startnamespace">
			<template if:true={showRegistartion}>
				<c-community-site-header></c-community-site-header>
				<c-community-site-body onshowverify={showVerify} r-id={rId} pa-id={paId} header-slide-nine={headerSlideNine}></c-community-site-body>
			</template>
			<template if:true={showEmailVerify}>
				<c-community-site-verify-address></c-community-site-verify-address>
			</template>
			<template if:true={isVerifying}>
				<c-community-site-verify-success ongonext={goNext}></c-community-site-verify-success>
			</template>
		</div>
	</template>
	<template if:true={isShowSpinner}>
		<lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
	</template>
</template>