<template>
    <div class="applicationContent">
        <c-community-application-questionnaire application-id={applicationId}></c-community-application-questionnaire>
        <!-- <c-community-application-talk-to-us></c-community-application-talk-to-us> -->
    </div>
</template>