<template>
    <div class="question">
        <template if:true={isShowSpinner}>
            <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
        </template>
		<div class="borderMark"></div>
		<h1>Upload Files</h1>
		<p>
			Upload the files requested below
		</p>

        <div class="formContainer">
            <div class="questionItem">
                <ul class="filesContainer">
                    <li>
                        <div class="hiddenText">
                            <a href="#" onclick={toggleMenu}>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <g data-name="Layer 2">
                                        <g data-name="chevron-down">
                                            <rect width="24" height="24" opacity="0"></rect>
                                            <path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
                                        </g>
                                    </g>
                                </svg>
                
                                Bank Statements ({bankStatementsStatus})
                            </a>
                
                            <div>
                                <label>
                                    Select Files
                                    <div><input type="file" multiple onchange={selectFiles} data-name="bankStatements"/></div>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="hiddenText">
                            <a href="#" onclick={toggleMenu}>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <g data-name="Layer 2">
                                        <g data-name="chevron-down">
                                            <rect width="24" height="24" opacity="0"></rect>
                                            <path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
                                        </g>
                                    </g>
                                </svg>
                
                                Income Verification ({incomeVerificationStatus})
                            </a>
                
                            <div>
                                <label>
                                    Select Files
                                    <div><input type="file" multiple onchange={selectFiles} data-name="incomeVerification"/></div>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="hiddenText">
                            <a href="#" onclick={toggleMenu}>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <g data-name="Layer 2">
                                        <g data-name="chevron-down">
                                            <rect width="24" height="24" opacity="0"></rect>
                                            <path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
                                        </g>
                                    </g>
                                </svg>
                
                                Employment Verification ({employmentVerificationStatus})
                            </a>
                
                            <div>
                                <label>
                                    Select Files
                                    <div><input type="file" multiple onchange={selectFiles} data-name="employmentVerification"/></div>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="hiddenText">
                            <a href="#" onclick={toggleMenu}>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <g data-name="Layer 2">
                                        <g data-name="chevron-down">
                                            <rect width="24" height="24" opacity="0"></rect>
                                            <path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
                                        </g>
                                    </g>
                                </svg>
                
                                Driver's License ({driverLicenseStatus})
                            </a>
                
                            <div>
                                <label>
                                    Select Files
                                    <div><input type="file" multiple onchange={selectFiles} data-name="driverLicense"/></div>
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>		

		<button class="confirmButton" onclick={saveFiles}>Save & Continue</button>
	</div>
</template>