<template>
    <div class="question">
		<div class="borderMark"></div>
		<h1>Current Mortgage Info</h1>
		<p>You can find the answers to some of these questions on your last mortgage statemnt.</p>

		<div class="formContainer">
			<div class="questionItem">

                <label>What is your current monthly mortage paymen?
                    <input type="text" oninput={setCurrencyField} data-name="mortgagePayment" value={mortgagePayment}>
                    <span>$</span>
                </label>

                <c-community-application-dual-choice
                    label={pmtIncludesPILabel}
                    default-value={pmtIncludesPI}
                    action-name="changepmtincludespi"
                    variable-name="pmtIncludesPI"
                    onchangepmtincludespi={setAnswers}
                ></c-community-application-dual-choice>

                <label>What is your current mortage balance?
                    <input type="text" oninput={setCurrencyField} data-name="mortgageLien" value={mortgageLien}>
                    <span>$</span>
                </label>

                <label>What is your home worth today?
                    <input type="text" oninput={setCurrencyField} data-name="marketValue" value={marketValue}>
                    <span>$</span>
                </label>

                <c-community-application-dual-choice
                    label={survivingSpouseLabel}
                    default-value={survivingSpouse}
                    action-name="changesurvivingspouse"
                    variable-name="survivingSpouse"
                    onchangesurvivingspouse={setAnswers}
                ></c-community-application-dual-choice>

            </div>
		</div>

		<button class="confirmButton" onclick={saveApplication}>Save & Continue</button>
	</div>
</template>