<template>
	<div class="questionnaireContainer">
		<div class="leftSide">
			<span>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512.01 512.01"
					style="enable-background: new 0 0 512.01 512.01"
					xml:space="preserve"
				>
					<g transform="translate(-1)">
						<g>
							<g>
								<path
									d="M483.414,0H73.268C56.931,0.019,43.693,13.257,43.674,29.594v368.367L1.647,500.224c-1.31,3.177-0.586,6.831,1.837,9.268
				c2.423,2.438,6.071,3.184,9.257,1.893L138.01,460.8h345.404c16.336-0.019,29.575-13.257,29.594-29.594V29.594
				C512.989,13.257,499.75,0.019,483.414,0z M495.941,431.206c-0.005,6.917-5.61,12.522-12.527,12.527H136.346
				c-1.093-0.002-2.177,0.207-3.191,0.614L25.14,487.97l34.987-85.086c0.417-1.03,0.625-2.132,0.614-3.243V29.594
				c0.009-6.915,5.612-12.518,12.527-12.527h410.146c6.917,0.005,12.522,5.61,12.527,12.527V431.206z"
								></path>
								<path
									d="M288.47,53.53c-3.29-3.11-8.435-3.11-11.725,0l-153.6,145.067c-3.426,3.238-3.579,8.64-0.341,12.066
				s8.64,3.579,12.066,0.341L282.607,71.467l147.738,139.537c3.426,3.238,8.828,3.085,12.066-0.341s3.085-8.828-0.341-12.066
				L288.47,53.53z"
								></path>
								<path
									d="M410.607,230.4c-4.713,0-8.533,3.82-8.533,8.533v149.171c-0.028,2.434-1.994,4.401-4.429,4.429h-63.838v-97.971
				c-0.014-11.866-9.63-21.481-21.495-21.495h-59.409c-11.866,0.014-21.481,9.63-21.495,21.495v97.971H167.57
				c-2.434-0.028-4.401-1.994-4.429-4.429V238.933c0-4.713-3.821-8.533-8.533-8.533c-4.713,0-8.533,3.82-8.533,8.533v149.171
				c0.014,11.866,9.63,21.481,21.495,21.495h230.076c11.866-0.014,21.481-9.63,21.495-21.495V238.933
				C419.141,234.221,415.32,230.4,410.607,230.4z M316.741,392.533h-68.267v-97.971c0-2.446,1.983-4.429,4.429-4.429h59.409
				c2.446,0,4.429,1.983,4.429,4.429V392.533z"
								></path>
								<path
									d="M257.007,247.467h51.2c14.138,0,25.6-11.461,25.6-25.6v-34.133c0-14.138-11.461-25.6-25.6-25.6h-51.2
				c-14.138,0-25.6,11.461-25.6,25.6v34.133C231.407,236.005,242.869,247.467,257.007,247.467z M248.474,187.733
				c0-4.713,3.82-8.533,8.533-8.533h51.2c4.713,0,8.533,3.82,8.533,8.533v34.133c0,4.713-3.82,8.533-8.533,8.533h-51.2
				c-4.713,0-8.533-3.82-8.533-8.533V187.733z"
								></path>
							</g>
						</g>
					</g>
				</svg>
			</span>
		</div>
		<div class="rightSide">
			<div class="question">
				<div class="borderMark"></div>
				<h1>Talk To Us</h1>
				<p>
					We're obsessed with exceeding your expectations and providing an experience that is unmatched. To ensure we give you the best client service, we monitor
					and record your communications with us.
				</p>

				<h2>Need help with signing in, an in-process loan, or a closed loan?</h2>

				<p class="timeInfo">
					<span>Here are the hours you can reach us at <a href="tel:1-800-603-1955">(800) 603-1955:</a></span> <br />
					Monday-Friday: 8:30 a.m. - 9:00 p.m. ET <br />
					Saturday: 9:00 a.m. - 4:00 p.m. ET
				</p>

				<h2>Need expert advice ona new loan?</h2>

				<p class="timeInfo">
					<span>Here are the hours you can reach us at <a href="tel:1-800-304-1225">(800) 304-1225:</a></span> <br />
					Monday-Friday: 9:00 a.m. - 7:00 p.m. ET <br />
					Saturday: 9:00 a.m. - 8:00 p.m. ET Sunday: 9:00 a.m. - 7:00 p.m. ET
				</p>

				<p class="timeInfo">
					<span>Here are the hours when online chat is avaliable:</span> <br />
					Monday-Friday: 7:00 a.m. - midnight ET <br />
					Saturday & Sunday: 9:00 a.m. - midnight ET
				</p>

				<button class="confirmButton" onclick={saveApplication}>Chat With Us</button>

				<div class="blockFooter">
					<p>How did we do? <br /><a href="#">Fill out a survey online.</a> We're listening.</p>
				</div>
			</div>
		</div>
	</div>
</template>