<template>
    <div class="question">
		<div class="borderMark"></div>
		<h1>Home Info</h1>
        <p>It's ok if you don't have exact figures for some of these questions. Just answer the best you can.</p>

		<div class="formContainer">
			<div class="questionItem">
				<label >Property Address:
                    <template if:true={currentPropertyAddress}>
                        <p>{currentPropertyAddress}</p>
                      </template>
				</label>

                <label
					>What type of property is this?
					<select onchange={selectPropertyType}>
						<template iterator:it={properties}>
							<template if:true={it.value.isSelected}>
								<option value={it.value.value} key={it.value.name} selected="selected">{it.value.name}</option>
							</template>
							<template if:false={it.value.isSelected}>
								<option value={it.value.value} key={it.value.name}>{it.value.name}</option>
							</template>
						</template>
					</select>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <g data-name="Layer 2">
                            <g data-name="chevron-down">
                                <rect width="24" height="24" opacity="0"></rect>
                                <path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
                            </g>
                        </g>
                    </svg>
				</label>

                <label
					>How do you use this home?
					<select onchange={selectUsageType}>
						<template iterator:it={usageTypes}>
							<template if:true={it.value.isSelected}>
								<option value={it.value.value} key={it.value.name} selected="selected">{it.value.name}</option>
							</template>
							<template if:false={it.value.isSelected}>
								<option value={it.value.value} key={it.value.name}>{it.value.name}</option>
							</template>
						</template>
					</select>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <g data-name="Layer 2">
                            <g data-name="chevron-down">
                                <rect width="24" height="24" opacity="0"></rect>
                                <path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
                            </g>
                        </g>
                    </svg>
				</label>

                <c-community-application-dual-choice
                    label={operateBusinessOnPropertyLabel}
                    default-value={operateBusinessOnProperty}
                    action-name="changeoperatebusinessonproperty"
                    variable-name="operateBusinessOnProperty"
                    onchangeoperatebusinessonproperty={changeOperateBusinessOnProperty}
                ></c-community-application-dual-choice>

                <label>How much is paid in property taxes every year?
                    <input type="text" oninput={setCurrencyField} data-name="taxExpense">
                    <span>$</span>
                </label>

                <label
					>Who provides your homeowners insurance?
					<input class="textImput" type="text" oninput={setInsuranceProvider}/>
				</label>

                <label>How much does homeowners insurance cost per year?
                    <input type="text" oninput={setCurrencyField} data-name="insuranceExpense">
                    <span>$</span>
                </label>

                <label>What was the original purchase price of this property?
                    <input type="text" oninput={setCurrencyField} data-name="originalPurchasePrice">
                    <span>$</span>
                </label>

                <label
					>What year was this house built?
					<input class="textImput" type="text" oninput={setDateValue} data-name="yearBuilt" min="1900" max="2021" placeholder="yyyy"/>
				</label>

                <label
					>When did you start living here?
					<div class='startLivingDate'>
                        <input 
                            class="textImput" 
                            type="text" 
                            oninput={setDateValue}
                            data-name="startLivingMonth"
                            placeholder="mm"/> <span>  </span> / <span>  </span>
                        <input 
                            class="textImput" 
                            type="text" 
                            oninput={setDateValue}
                            data-name="startLivingYear"
                            placeholder="yyyy"/>
                    </div>
				</label>

			</div>
		</div>

		<button class="confirmButton" onclick={saveHomeInfo}>Save & Continue</button>
	</div>
</template>