<template>
	<template if:false={isFirstLoad}>
		<div class="applicationContainer">
			<c-community-application-header
				logo-u-r-l={logoURL}
				phone-u-r-l={phoneURL}
				account-u-r-l={accountURL}
				talk-us-u-r-l={talkUsURL}
			></c-community-application-header>
			<c-community-application-content application-id={applicationId} onshowspinner={showSpinner} onhidespinner={hideSpinner}></c-community-application-content>
			<c-community-application-footer logo-u-r-l={logoURL}></c-community-application-footer>
		</div>
	</template>

	<template if:true={isShowSpinner}>
		<lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
	</template>
</template>