.embeddedServiceHelpButton .helpButton .uiButton {
	background-color: #005290;
	font-family: "Arial", sans-serif;
}
.embeddedServiceHelpButton .helpButton .uiButton:focus {
	outline: 1px solid #005290;
}