<template>
    <div class="questionnaireContainer">
        <c-community-application-aside class="progressBar" current-index={currentPageIndex} max-index-page={maxIndexPage} steps={steps} onselectstep={selectStep}></c-community-application-aside>
        <c-community-application-questions class="questions" application-id={applicationId} max-index-page={maxIndexPage} onnextslide={nextSlide}></c-community-application-questions>
    </div>
</template>