<template>
	<div class="question describeBlock">
		<div class="borderMark"></div>
		<h1>Your Refinance Solution</h1>
		<p>
			These are the refinance options that you qualify for based on the info you gave us and <a href="#">your credit score of {creditScore}</a
			><template if:false={isSpouse}>.</template> <template if:true={isSpouse}> and <a href="#">{spouseName} credit score of {spouseCreditScore}</a></template> The
			recommended option is the one we think is best for your financial goals.
		</p>
		<p>Compare and customize each loan option's rate, costs or term to see how it changes the numbers. Then choose the one you want to get approved for!</p>

		<template if:true={isRecommended}>
            <div class="recommendedInfo">
                <div class="info">
                    <p><b>Your Goal:</b> {userGoal}</p>
                    <p class="space"></p>
                    <p>Rates as of: {rateTime}</p>
                </div>
                <div class="recommendedProgram">
                    <span>
                        <svg style="enable-background: new 0 0 512 512" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <path
                                    d="M235.1,386.3c-5.7,0-11.1-2.4-14.9-6.6l-104.1-116c-7.4-8.2-6.7-20.9,1.5-28.2c8.2-7.4,20.9-6.7,28.2,1.5   l86.8,96.8l131.6-199.1c6.1-9.2,18.5-11.7,27.7-5.7c9.2,6.1,11.7,18.5,5.7,27.7L251.8,377.4c-3.4,5.2-9,8.5-15.2,8.9   C236.1,386.3,235.6,386.3,235.1,386.3z"
                                ></path>
                            </g>
                        </svg>
                    </span>
                    <h3>We Recommend</h3>
                    <p>{recommendedPeriod}</p>
                </div>
            </div>
        </template>
		<div class="formContainer">
			<div class="questionItem">
				<ul class="financialInfo">
					<li>
						<div class="financeString">
							<p>Current Monthly Payment</p>
							<p><lightning-formatted-number value={currentMonthlyPayment} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
						</div>
						<div class="financeString">
							<p>New Monthly Payment</p>
							<p><lightning-formatted-number value={newMonthlyPayment} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
						</div>

						<div class="dropDownContainer">
							<a href="#" onclick={toggleMenu}>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
									<g data-name="Layer 2">
										<g data-name="chevron-down">
											<rect width="24" height="24" opacity="0"></rect>
											<path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
										</g>
									</g>
								</svg>

								See monthly payment breakdown.
							</a>
							<div class="dropDownInfo">
								<p>Here's what your estimated monthly payment includes:</p>
								<div>
									<div class="financeString">
										<p>Principal and Interest:</p>
										<p><lightning-formatted-number value={principalAndInterest} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
									</div>
									<div class="financeString">
										<p>Estimated Taxes:</p>
										<p><lightning-formatted-number value={estimatedTaxes} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
									</div>
									<div class="financeString">
										<p>Estimated Homeowners Insurance:</p>
										<p><lightning-formatted-number value={estimatedHomeownersInsurance} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
									</div>
									<div class="financeString">
										<p>Mortgage Insurance:</p>
										<p><lightning-formatted-number value={mortgageInsurance} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<template if:true={isNegativeDifference}>
							<div class="financeString">
								<p>Current Monthly Difference</p>
								<p class="green">
									<lightning-formatted-number value={currentMonthlyDifference} format-style="currency" currency-code="USD"></lightning-formatted-number>
									<span>less per month</span>
								</p>
							</div>
						</template>
						<template if:false={isNegativeDifference}>
							<div class="financeString">
								<p>Current Monthly Difference</p>
								<p>
									<lightning-formatted-number value={currentMonthlyDifference} format-style="currency" currency-code="USD"></lightning-formatted-number>
									<span>more per month</span>
								</p>
							</div>
						</template>

						<div class="dropDownContainer">
							<a href="#" onclick={toggleMenu}>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
									<g data-name="Layer 2">
										<g data-name="chevron-down">
											<rect width="24" height="24" opacity="0"></rect>
											<path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
										</g>
									</g>
								</svg>

								See difference multiplied over time.
							</a>
							<div class="dropDownInfo">
								<p>Here's what your estimated monthly payment includes:</p>
								<div class="white">
									<div class="financeString">
										<p>5-Year Difference:</p>
										<p><lightning-formatted-number value={fiveYearDifference} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
									</div>
									<div class="financeString">
										<p>15-Year Difference:</p>
										<p><lightning-formatted-number value={fifteenYearDifference} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
									</div>
									<div class="financeString">
										<p>30-Year Difference:</p>
										<p><lightning-formatted-number value={thirtyYearDifference} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="dropDownContainer large">
							<a href="#" onclick={toggleMenu}>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
									<g data-name="Layer 2">
										<g data-name="chevron-down">
											<rect width="24" height="24" opacity="0"></rect>
											<path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
										</g>
									</g>
								</svg>

								<span class="small closeText">See & Edit Details</span>
								<span class="small openText">Hide Details</span>
							</a>
							<div class="dropDownInfo">
								<p class="subHeader">Customize Your Rate, Costs and Term</p>
								<div class="white">
									<div class="financeString">
										<p>Term:</p>
										<p class="selectContainer">
											<label>
												<select onchange={selectTerm} data-name="term">
													<!-- <option value="">Please select one:</option> -->
													<template iterator:it={terms}>
														<template if:true={it.value.isSelected}>
															<option value={it.value.value} key={it.value.name} selected="selected">{it.value.name}</option>
														</template>
														<template if:false={it.value.isSelected}>
															<option value={it.value.value} key={it.value.name}>{it.value.name}</option>
														</template>
													</template>
												</select>
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
													<g data-name="Layer 2">
														<g data-name="chevron-down">
															<rect width="24" height="24" opacity="0"></rect>
															<path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
														</g>
													</g>
												</svg>
											</label>
										</p>
									</div>
									<div class="financeString">
										<p>
											Fixed Rate/APR:<br />
											Estimated Closing Costs:
										</p>
										<p class="rateContainer">
											{fixedRate}% / {apr}% <br />
											<lightning-formatted-number value={estimatedClosingCosts} format-style="currency" currency-code="USD"></lightning-formatted-number>
										</p>
									</div>
									<div class="financeString">
										<p>Cash Due at Closing:</p>
										<p class="bigText"><lightning-formatted-number value={cashDueClosing} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
									</div>
									<div class="financeString">
										<p>Your New Loan Amount:</p>
										<p class="bigText"><lightning-formatted-number value={newLoanAmount} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
									</div>

									<div class="dropDownContainer">
										<a href="#" onclick={toggleInnerMenu} class="innerDropDown"> What does this include? </a>
										<div class="dropDownInfo">
											<p class="innerDropDownHeader">
												Here's What the Estimated <span> </span>
												<lightning-formatted-number value={estimatedAmount} format-style="currency" currency-code="USD"></lightning-formatted-number> Payoff Amount
												Includes:
											</p>
											<div>
												<div class="financeString">
													<p><b>Current Loan Amount:</b></p>
													<p><lightning-formatted-number value={currentLoanAmount} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
												</div>
												<div class="financeString">
													<p>Liens Being Paid Off:</p>
													<p></p>
												</div>
												<div class="financeString">
													<p>LOANCARE LLC</p>
													<p><lightning-formatted-number value={loanceLLC} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
												</div>
												<div class="financeString">
													<p><b>Estimated Interest Accrued Before Closing:</b></p>
													<p><lightning-formatted-number value={estimatedBeforeClosing} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
												</div>
											</div>

											<p>
												Here's What the Estimated <span> </span>
												<b><lightning-formatted-number value={estimatedClosingCosts} format-style="currency" currency-code="USD"></lightning-formatted-number></b> for
												Closing Costs Includes:
											</p>
											<div>
												<div class="financeString">
													<p>Lender and Third-Party Fees:</p>
													<p><lightning-formatted-number value={thirdPartyFees} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
												</div>
												<div class="financeString">
													<p>Discount Points:</p>
													<p><lightning-formatted-number value={discountPoints} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
												</div>
											</div>

											<p class="innerDropDownHeader">Here Are Some Other Items Included in Your New Loan Amount:</p>
											<div>
												<div class="financeString">
													<p>Estimated Escrow Account:</p>
													<p><lightning-formatted-number value={estimatedEscrowAccount} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
												</div>
												<div class="financeString">
													<p>Estimated Per Diem Interest:</p>
													<p><lightning-formatted-number value={estimatedPerDiemInterest} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="questionItem">
			<div class={combineClassName}>
				<a href="#" onclick={toggleMenu}>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<g data-name="Layer 2">
							<g data-name="chevron-down">
								<rect width="24" height="24" opacity="0"></rect>
								<path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"></path>
							</g>
						</g>
					</svg>

					See Other Details
				</a>
				<div class="dropDownInfo">
					<div>
						<div class="financeString">
							<p>{userName} Actual Credit Score:</p>
							<p>{creditScore}</p>
						</div>
						<div class="financeString">
							<p><a href="#">Download report on how we use your credit score.</a></p>
							<p></p>
						</div>
						<template if:true={isSpouse}>
							<div class="financeString">
								<p>{spouseName} Actual Credit Score:</p>
								<p>{spouseCreditScore}</p>
							</div>
							<div class="financeString">
								<p><a href="#">Download report on how we use your credit score.</a></p>
								<p></p>
							</div>
						</template>
						<div class="financeString">
							<p>Interest Rate Lock Period:</p>
							<p>{interestRateLockPeriod}</p>
						</div>
						<div class="financeString">
							<p>Funds Needed in Reserve:</p>
							<p><lightning-formatted-number value={fundsNeededReserve} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
						</div>
						<div class="financeString">
							<p>Loan-to-Value Ratio:</p>
							<p>{loanValueRatio}%</p>
						</div>
						<div class="financeString">
							<p>Loan Type:</p>
							<p>{loanType}</p>
						</div>
						<div class="financeString">
							<p>Points:</p>
							<p>{points}</p>
						</div>
					</div>
					<p>
						Mortgage rates could change daily. Remember - we don't have all your information yet, so the numbers that you see above may not completely reflect your
						situation.
					</p>
					<p>Payment doesn't include taxes and insurance premiums.</p>
				</div>
			</div>
		</div>

		<button class="confirmButton" onclick={saveIncomeInfo}>Continue</button>
	</div>
</template>