.question > p a {
	text-decoration: underline;
	-webkit-text-decoration-color: #cfcfcf;
	text-decoration-color: #cfcfcf;
	color: #333;
	font-weight: bold;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.question > p a:hover {
	-webkit-text-decoration-color: #333;
	text-decoration-color: #333;
}

.questionItem .bigHeader {
	margin-top: 30px;
	margin-bottom: 30px;
}

.recommendedInfo .info {
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: 0.75em;
}

.recommendedInfo .info .space {
	width: 10%;
}

.recommendedInfo .recommendedProgram {
	background-color: #13a48e;
	position: relative;
	padding: 18px 24px 18px 110px;
	color: #fff;
	border-radius: 4px;
}

.recommendedInfo .recommendedProgram span {
	display: block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: 25px;
	left: 25px;
}

.recommendedInfo .recommendedProgram span svg {
	fill: #13a48e;
}

.recommendedInfo .recommendedProgram h3 {
	font-weight: bold;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 16px;
}

.recommendedInfo .recommendedProgram p {
	line-height: 1;
	font-size: 2.5rem;
	font-weight: bold;
}

.formContainer .financialInfo {
	list-style: none;
}

.formContainer .financialInfo li {
	display: block;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-bottom: 2px solid #e6e6e6;
}

.formContainer .financialInfo li:last-child {
	border: none;
}

.formContainer .financialInfo .financeString,
.bigHeader .dropDownInfo .financeString {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #333;
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 1.2;
	padding: 8px 0;
}

.formContainer .financialInfo .financeString .green {
	color: #13a48e;
}

.formContainer .financialInfo .financeString span {
	display: block;
	font-weight: 300;
	line-height: 1.2;
	font-size: 12px;
}

.dropDownContainer {
	margin-top: 10px;

}

.dropDownContainer a {
	display: block;
	text-decoration: none;
	color: #333;
	font-weight: bold;
	position: relative;
	padding-right: 40px;
	line-height: 1.6;
	font-size: 1rem;
	margin-bottom: 15px;
}

.dropDownContainer a svg {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 0;
	right: 0;
	border: 1px solid #cfcfcf;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: rotateZ(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotateZ(-180deg);
}

.bigHeader a svg {
	left: 240px;
}

.dropDownContainer a svg.open {
	-webkit-transform: rotateZ(0deg);
	-ms-transform: rotate(0deg);
	transform: rotateZ(0deg);
}

.dropDownContainer a .small {
	font-weight: bold;
	line-height: 1.6;
	font-size: 0.75em;
}

.dropDownContainer a .closeText {
	display: inline;
}

.dropDownContainer a .openText {
	display: none;
}

.dropDownContainer.open a .closeText {
	display: none;
}

.dropDownContainer.open a .openText {
	display: inline;
}

.bigHeader a {
	line-height: 1.23;
	color: #333;
	font-size: 1.625rem;
	font-weight: bold;
}

.dropDownContainer .innerDropDown {
	text-decoration: underline;
	-webkit-text-decoration-color: #cfcfcf;
	text-decoration-color: #cfcfcf;
}

.dropDownContainer .innerDropDown:hover {
	-webkit-text-decoration-color: #333;
	text-decoration-color: #333;
}

.dropDownContainer .dropDownInfo {
	overflow: hidden;
	height: 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.dropDownContainer.open .dropDownInfo  {
	height: 230px;
}

.dropDownContainer:nth-child(0n + 2).open .dropDownInfo  {
	height: 170px;
}

.dropDownContainer.large.open .dropDownInfo  {
	height: 330px;
}

.dropDownContainer.large.open.innerOpen .dropDownInfo {
	height: 855px;
}

.bigHeader.dropDownContainer.open .dropDownInfo  {
	height: 435px;
}

.bigHeader.includeSpouse.dropDownContainer.open .dropDownInfo  {
	height: 525px;
}

.dropDownContainer .dropDownInfo > p {
	line-height: 1.6;
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: 8px;
}

.dropDownContainer .dropDownInfo .innerDropDownHeader {
	font-weight: bold;
}

.dropDownContainer .dropDownInfo > .subHeader {
	font-weight: bold;
	font-size: 1.33333em;
	line-height: 1.6;
}

.dropDownContainer .dropDownInfo .selectContainer {
	width: 35%;
}

.dropDownContainer .dropDownInfo .selectContainer label,
.dropDownContainer .dropDownInfo .selectContainer select {
	margin: 0;
}
.dropDownContainer .dropDownInfo .selectContainer svg {
	top: 5px;
}

.dropDownContainer .dropDownInfo > div {
	background-color: #f7f7f7;
	padding: 16px;
	margin-bottom: 10px;
}

.dropDownContainer .dropDownInfo > .white {
	background-color: #fff;
	padding: 16px 0;
}


.dropDownContainer .dropDownInfo .financeString {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.6;
	padding: 2px 0;
	margin-bottom: 10px;
}

.dropDownContainer .dropDownInfo .financeString .rateContainer {
	width: 35%;
	border: 2px solid #cfcfcf;
	padding: 12px 13px;
	border-radius: 4px;
}

.dropDownContainer .dropDownInfo .financeString .bigText {
	font-size: 1.33333em;
}

.bigHeader .dropDownInfo .financeString a {
	color: #333;
	font-weight: bold;
	position: relative;
	text-decoration: underline;
	-webkit-text-decoration-color: #cfcfcf;
	text-decoration-color: #cfcfcf;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	font-size: 1rem;
	line-height: 1.6;
	margin: 0;
}

.bigHeader .dropDownInfo .financeString a:hover {
	-webkit-text-decoration-color: #333;
	text-decoration-color: #333;
}

.bigHeader .dropDownInfo > div {
	padding: 0;
	background-color: #fff;
	border: 1px solid #f7f7f7;
	margin-bottom: 15px;
}

.bigHeader .dropDownInfo > div .financeString {
	margin: 0;
	padding: 10px 25px 10px 25px;
}

.bigHeader .dropDownInfo > div .financeString:nth-child(even) {
	background-color: #f7f7f7;
}

.bigHeader .dropDownInfo > p {
	padding: 0 25px;
}

@media screen and (max-width: 610px) {
	.dropDownContainer.large.open.innerOpen .dropDownInfo {
		height: 975px;
	}
}

@media screen and (max-width: 550px) {
	.recommendedInfo .recommendedProgram p {
		font-size: 2rem;
	}
	.formContainer .financialInfo .financeString,
	.bigHeader .dropDownInfo .financeString {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
	}
	.dropDownContainer .dropDownInfo .selectContainer,
	.dropDownContainer .dropDownInfo .financeString .rateContainer {
		width: 100%;
	}
	.formContainer .financialInfo .financeString p:first-child {
		margin-bottom: 5px;
	}
	.dropDownContainer.open .dropDownInfo  {
		height: 370px;
	}
	.dropDownContainer:nth-child(0n + 2).open .dropDownInfo  {
		height: 275px;
	}

	.dropDownContainer.large.open .dropDownInfo  {
		height: 510px;
	}

	.dropDownContainer.large.open.innerOpen .dropDownInfo {
		height: 1340px;
	}

	.bigHeader.dropDownContainer.open .dropDownInfo  {
		height: 660px;
	}

	.bigHeader.includeSpouse.dropDownContainer.open .dropDownInfo  {
		height: 800px;
	}
}

@media screen and (max-width: 480px) {
	.bigHeader.dropDownContainer.open .dropDownInfo  {
		height: 690px;
	}

	.bigHeader.includeSpouse.dropDownContainer.open .dropDownInfo  {
		height: 830px;
	}
}

@media screen and (max-width: 414px) {
	.dropDownContainer.large.open.innerOpen .dropDownInfo {
		height: 1450px;
	}
}

@media screen and (max-width: 375px) {
	.dropDownContainer.open .dropDownInfo {
		height: 400px;
	}

	.dropDownContainer.large.open .dropDownInfo {
		height: 570px;
	}

	.dropDownContainer.large.open.innerOpen .dropDownInfo {
		height: 1600px;
	}

	.bigHeader.dropDownContainer.open .dropDownInfo {
		height: 785px;
	}

	.bigHeader.includeSpouse.dropDownContainer.open .dropDownInfo {
		height: 950px;
	}
}